////
/// Accordion block CSS.
///
/// This file also includes CSS for the Accordion descendant blocks.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Ensures that `<pre>` elements don't cause overflow in the accordion panel.
///
.wp-block-accordion-panel {
	overflow-x: hidden;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.wp-block-accordion-item {
	transition: all 0.5s ease-in-out;
	overflow: hidden; // Nested element background can bleed over rounded corners.

	// Ensures that `cqi` values are based on their container, not the viewport.
	container-type: inline-size;

	// Remove padding from accordion panel when the block is open. Otherwise,
	// the panel content is shown.
	&:not(.is-open) .wp-block-accordion-panel {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.wp-block-accordion-heading {

	// The `<button>` element for toggling the accordion's open/close state.
	&__toggle {
		gap: var(--wp--preset--spacing--20);

		transition: all 0.5s ease-in-out;
		box-sizing: border-box;
		padding: var(--wp--preset--spacing--40) var(--wp--style--block-gap);

		background: transparent;
		color: currentColor;
	}

	&__toggle[aria-expanded="true"],
	&__toggle:hover,
	&__toggle:focus {
		background: var(--wp--custom--color--background--level-2);
		color: currentColor;
	}

	///
	/// Nicer toggle icon.
	///
	/// Note that we must use `!important` to overrule the inline styles from WP.
	///
	&__toggle-icon {
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		color: currentColor !important;
		font-size: inherit !important;
		font-style: normal !important;
		font-weight: inherit !important;
		line-height: inherit !important;
	}
}

///
/// Handle nested code blocks by removing spacing on the inside of the panel
/// content area.
///
.wp-block-accordion-panel:has(.wp-block-code:only-child),
.wp-block-accordion-panel:has(.wp-block-code:first-child + .block-list-appender) {
	padding: 0;

	.wp-block-code {
		margin: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		outline: none;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
