////
/// Accordion block CSS.
///
/// This file also includes CSS for the Accordion descendant blocks.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Ensures that `<pre>` elements don't cause overflow in the accordion panel.
///
.wp-block-accordion-panel {
	overflow-x: hidden;

	// Fixes Core/Gutenberg bug. Need to double up on selector.
	//
	// @link https://github.com/x3p0-dev/x3p0-ideas/issues/36
	// @link https://github.com/WordPress/gutenberg/issues/73455
	&#{&} {
		min-width: revert;
	}
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Adds accordion heading title colors when toggled/focused/hovered.
///
/// The `!important` is to fix a Core bug:
/// @link https://github.com/WordPress/gutenberg/issues/73454
/// @link https://github.com/x3p0-dev/x3p0-ideas/issues/35
///
.wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle,
.wp-block-accordion-heading__toggle:hover,
.wp-block-accordion-heading__toggle:focus {
	background: var(--wp--custom--color--background--level-2) !important;
	color: currentColor;
}

/*
.wp-block-accordion-item {
	transition: all 0.5s ease-in-out;
	overflow: hidden; // Nested element background can bleed over rounded corners.

	// Ensures that `cqi` values are based on their container, not the viewport.
	container-type: inline-size;

	// Remove padding from accordion panel when the block is open. Otherwise,
	// the panel content is shown.
	&:not(.is-open) .wp-block-accordion-panel {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.wp-block-accordion-heading {

	// The `<button>` element for toggling the accordion's open/close state.
	&__toggle {
		gap: var(--wp--preset--spacing--20);

		transition: all 0.5s ease-in-out;
		box-sizing: border-box;
		padding: var(--wp--preset--spacing--40) var(--wp--style--block-gap);

		background: transparent;
		color: currentColor;
	}

	&__toggle[aria-expanded="true"],
	&__toggle:hover,
	&__toggle:focus {
		background: var(--wp--custom--color--background--level-2);
		color: currentColor;
	}

	///
	/// Nicer toggle icon.
	///
	/// Note that we must use `!important` to overrule the inline styles from WP.
	///
	&__toggle-icon {
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		color: currentColor !important;
		font-size: inherit !important;
		font-style: normal !important;
		font-weight: inherit !important;
		line-height: inherit !important;
	}
}

///
/// Handle nested code blocks by removing spacing on the inside of the panel
/// content area.
///
.wp-block-accordion-panel:has(.wp-block-code:only-child),
.wp-block-accordion-panel:has(.wp-block-code:first-child + .block-list-appender) {
	padding: 0;

	.wp-block-code {
		margin: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		outline: none;
	}
}

 */

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.is-style-accordion-minimal .wp-block-accordion-heading__toggle {
	padding-left: 0;
	padding-right: 0;
}


///
/// Toggle button colors.
///
/// The `!important` is to fix a Core bug:
/// @link https://github.com/WordPress/gutenberg/issues/73454
/// @link https://github.com/x3p0-dev/x3p0-ideas/issues/35
///
.is-style-accordion-minimal .wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:hover,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:focus {
	background: transparent !important;
	color: currentColor;
}


.is-style-accordion-minimal .wp-block-accordion-heading__toggle-icon {
	background: var(--wp--custom--color--background--level-1);
	color: var(--wp--custom--color--foreground--default);
	display: inline-block;
	padding: 0.5rem;
	line-height: 1;
	text-align: center;
	border-radius: calc(infinity * 1px);
}

.is-style-accordion-minimal .wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle-icon,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:hover .wp-block-accordion-heading__toggle-icon,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:focus .wp-block-accordion-heading__toggle-icon {
	background: var(--wp--custom--color--background--level-2);
}

/*

.wp-block-accordion.is-style-accordion-minimal {


	:where(.wp-block-accordion-item.is-open) .wp-block-accordion-heading__toggle,
	.wp-block-accordion-heading__toggle:hover,
	.wp-block-accordion-heading__toggle:focus {
		background: transparent;
		color: currentColor;

		.wp-block-accordion-heading__toggle-icon {
			background: var(--wp--custom--color--background--level-2);
		}
	}

	.wp-block-accordion-heading {
		&__toggle {
			padding-left: 0;
			padding-right: 0;
		}


		&__toggle-icon {
			background: var(--wp--custom--color--background--level-1);
			color: var(--wp--custom--color--foreground--default);
			display: inline-block;
			padding: 0.5rem;
			line-height: 1;
		//	height: 1em !important;
		//	width: 1em !important;
			text-align: center;
			border-radius: calc(infinity * 1px);
		}
	}
}
*/
