////
/// Accordion block CSS.
///
/// This file also includes CSS for the Accordion descendant blocks.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Ensures that `<pre>` elements don't cause overflow in the accordion panel.
///
.wp-block-accordion-panel {
	overflow-x: hidden;

	// Fixes Core/Gutenberg bug. Need to double up on selector.
	//
	// @link https://github.com/x3p0-dev/x3p0-ideas/issues/36
	// @link https://github.com/WordPress/gutenberg/issues/73455
	&#{&} {
		min-width: revert;
	}
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------


.wp-block-accordion-item {
	transition: all 0.5s ease-in-out;
	overflow: hidden; // Nested element background can bleed over rounded corners.

	// Ensures that `cqi` values are based on their container, not the viewport.
	container-type: inline-size;
}

///
/// Adds accordion heading title colors when toggled/focused/hovered.
///
/// The `!important` is to fix a Core bug:
/// @link https://github.com/WordPress/gutenberg/issues/73454
/// @link https://github.com/x3p0-dev/x3p0-ideas/issues/35
///
.wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle,
.wp-block-accordion-heading__toggle:hover,
.wp-block-accordion-heading__toggle:focus {
	background: var(--wp--custom--color--background--level-2) !important;
	color: currentColor;
}

///
/// Handle nested code blocks by removing spacing on the inside of the panel
/// content area.
///
.wp-block-accordion-panel:has(.wp-block-code:only-child),
.wp-block-accordion-panel:has(.wp-block-code:first-child + .block-list-appender) {
	padding: 0;

	.wp-block-code {
		margin: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		outline: none;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Overrules the default toggle button horizontal padding.
///
/// The `!important` is to fix a Core bug. When fixed, it should be removed here
/// and in `theme.json`.
/// @link https://github.com/x3p0-dev/x3p0-ideas/issues/35
/// @link https://github.com/WordPress/gutenberg/issues/73454
///
.is-style-accordion-minimal .wp-block-accordion-heading__toggle {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

///
/// Toggle button colors.
///
/// The `!important` is to fix a Core bug:
/// @link https://github.com/WordPress/gutenberg/issues/73454
/// @link https://github.com/x3p0-dev/x3p0-ideas/issues/35
///
.is-style-accordion-minimal .wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:hover,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:focus {
	background: transparent !important;
	color: currentColor;
}


.is-style-accordion-minimal .wp-block-accordion-heading__toggle-icon {
	background: var(--wp--custom--color--background--level-1);
	color: var(--wp--custom--color--foreground--default);
	display: flex;
	padding: 0.5rem;
	text-align: center;
	border-radius: calc(infinity * 1px);
}

.is-style-accordion-minimal .wp-block-accordion-item.is-open .wp-block-accordion-heading__toggle-icon,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:hover .wp-block-accordion-heading__toggle-icon,
.is-style-accordion-minimal .wp-block-accordion-heading__toggle:focus .wp-block-accordion-heading__toggle-icon {
	background: var(--wp--custom--color--background--level-2);
}
