////
/// Button block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Make sure the link inherits user typography settings.
///
/// @todo Maybe remove. Is this still needed?
///
.wp-block-button[style*=font-weight] .wp-block-button__link { font-weight: inherit; }
.wp-block-button[style*=font-style] .wp-block-button__link { font-style: inherit; }

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Handles styles for elements inside of the Button block.
///
/// Note: both classes are needed to overwrite styles in the editor.
///
.wp-block-button .wp-block-button__link {
	code,
	kbd {
		border-color: currentColor;
		background: transparent;
		color: inherit;
		opacity: 0.7;
		text-decoration: none;
		font-weight: 400;
		font-size: smaller;
	}

	del, s {
		opacity: 0.7;
		color: currentColor;
		text-decoration-color: currentColor;
	}

	ins {
		border: none;
		background: inherit;
		color: inherit;
		text-decoration: underline;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Secondary button style. The default styles are in `theme.json`, so this just
/// includes the focus/hover styles, which cannot be set in `theme.json` for
/// blocks.
///
/// @todo Rename to `.is-style-secondary`.
/// @todo Provide fallback for Core `.is-style-outline`.
///
.wp-block-button.is-style-outline .wp-element-button:where(
	:focus,
	:hover
) {
	background-color: var(
		--wp--custom--base--color--surface-button-secondary-hover,
		transparent
	);
}

.is-style-section-1 .wp-block-button.is-style-outline .wp-element-button {
	background-color: var(--wp--custom--section-1--color--surface-button-secondary, transparent);
	color: var(--wp--custom--section-1--color--text-button-secondary, inherit);
	border-color: var(--wp--custom--section-1--color--border-button-secondary, transparent);
}

.is-style-section-1 .wp-block-button.is-style-outline .wp-element-button:where(
	:focus,
	:hover
) {
	background-color: var(--wp--custom--section-1--color--surface-button-secondary-hover, transparent);
}
