////
/// Button block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/icon';
@use '../../tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Make sure the link inherits user typography settings.
///
/// @todo Maybe remove. Is this still needed?
///
.wp-block-button[style*=font-weight] .wp-block-button__link { font-weight: inherit; }
.wp-block-button[style*=font-style] .wp-block-button__link { font-style: inherit; }

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Handles styles for elements inside of the Button block.
///
/// Note: both classes are needed to overwrite styles in the editor.
///
.wp-block-button .wp-block-button__link {
	code,
	kbd {
		border-color: currentColor;
		background: transparent;
		color: inherit;
		opacity: 0.7;
		text-decoration: none;
		font-weight: 400;
		font-size: smaller;
	}

	del, s {
		opacity: 0.7;
		color: currentColor;
		text-decoration-color: currentColor;
	}

	ins {
		border: none;
		background: inherit;
		color: inherit;
		text-decoration: underline;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent none;
	border: 1px var(--wp--custom--global--border--style) currentColor;
	color: currentColor;
	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--50);

	&:focus,
	&:hover {
		outline-color: currentColor;
	}
}

///
/// Ensure underline on outline style buttons.
///
.wp-block-button.is-style-outline .wp-element-button:where(
	:focus,
	:hover
) {
	text-decoration: underline;
}

/*
.wp-block-button.is-style-secondary .wp-element-button {
	background-color: var(--wp--custom--color--surface--interactive--secondary--default);
	color: var(--wp--custom--color--foreground--interactive--secondary--default);
}
 */

// -----------------------------------------------------------------------------
// Block variations.
// -----------------------------------------------------------------------------

///
/// Color scheme block variation CSS.
///
/// Note that the editor renders a `<div>` element for the `<button>`.
///
.wp-block-button.toggle-color-scheme .wp-block-button__link {

	// When used in a nav menu, decrease the default spacing.
	.wp-block-navigation & {
		padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--40);
	}

	border-radius: 9999em;

	// The default icon is for light mode, but we use the dark mode icon
	// when the dark color scheme is in use.
	@include inline-icon.prefix(icon.get-url('light-mode'));

	&.is-dark-scheme::before {
		@include inline-icon.modify(icon.get-url('dark-mode'));
	}
}
