////
/// Calendar block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// `border-box` for the win! 🏆
///
.wp-block-calendar {
	box-sizing: border-box;
}

///
/// WP nests a calendar wrapper inside itself in the editor for some crazy reason
/// that I'm sure is some legacy thing. 🫤
///
/// WP also applies colors to the table instead of the outer wrapper, so we're
/// zeroing everything out for the table too.
///
.editor-styles-wrapper .wp-block-calendar .wp-block-calendar,
.wp-block-calendar .wp-calendar-table {
	background: transparent !important;
	color: currentColor !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
}

///
/// Removes WP's default background color on the header, which cannot be
/// customized via `theme.json`.
///
:where(.wp-block-calendar th) {
	background: unset;
}

///
/// Overwrites WP's default border-color on cells. This is hardcoded, and themes
/// have no way to customize it via `theme.json`. We also just reset all borders
/// here to start with a clean slate.
///
.wp-block-calendar table :is(thead, tbody, td, th) {
	border: none;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Adds separate borders and bumps up the default border spacing. Also, don't
/// let anything overflow the table.
///
.wp-block-calendar table {
	overflow:        hidden;
	border-spacing:  2px;
	border-collapse: separate;
}

///
/// Customizes the typography for table headings and ensures there are no colors
/// applied to them.
///
.wp-block-calendar thead {
	font-weight: 600;
	font-size:   var(--wp--preset--font-size--sm, inherit);
	line-height: var(--wp--custom--line-height--sm, inherit);
	color:       inherit;
	background:  transparent;
}

///
/// Inherits from `<thead>`. This is necessary to overwrite core's hardcoded
/// style rule.
///
.wp-block-calendar th {
	font-weight: inherit;
}

///
/// More spacing than WP's default for cells.
///
.wp-block-calendar :is(td, th) {
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--10);
}

///
/// Cell background color. We're avoiding the `.pad` class here, which are just
/// empty cells.
///
.wp-block-calendar table td:where(:not(.pad)) {
	background: var(--wp--custom--colour--background--level-2, transparent);
}

///
/// When the Calendar block itself has a section style, the surface level of
/// nested elements becomes level 1.
///
.wp-block-calendar[class*=is-style-section-] table td:where(:not(.pad)) {
	background: var(--wp--custom--colour--background--level-1, transparent);
}

///
/// Nicer layout for the calendar nav using flexbox.
///
.wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	margin: var(--wp--preset--spacing--10) var(--wp--preset--spacing--40) 0;
	font-weight: var(--wp--custom--nav--font-weight, 600);
}

///
/// Prettier nav element spacing.
///
.wp-calendar-nav-prev,
.wp-calendar-nav-next {
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--10) 0;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
