////
/// Categories block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/list';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// No fixes...

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Include the base list style.
///
.wp-block-categories-list {
	@include list.flow();

	li a {
		margin-right: 0.25ch;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Horizontal list style.
///
ul.wp-block-categories-list.is-style-horizontal {
	@include list.horizontal();
}

///
/// The pull style "pulls" the list back to be flush with the text.
///
ul.wp-block-categories-list.is-style-pull {
	padding-left: 1em;
}

///
/// The spread list style adds space between the link and post count.
///
/// Note: only allow this style if the list is not hierarchical.
///
ul.wp-block-categories-list.is-style-spread:where(:not(:has(ul))) {
	list-style: none;
	padding-left: 0;
}

ul.wp-block-categories-list.is-style-spread:where(:not(:has(ul))) .cat-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 0;

	// Pushes content to the far right and the link to the left.
	> a {
		margin-right: auto;
	}
}
