////
/// Code block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// WordPress dumps styles on the `<code>` element instead of the `<pre>`. 🤮
.wp-block-code {
	overflow: auto;
	word-wrap: normal;

	code {
		overflow: revert;
		word-wrap: revert;
		white-space: revert;
		display: revert;
	}
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// No customizations...

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Code syntax highlighting variation.
///
.wp-block-code-wrap {
	overflow: hidden;
	box-sizing: border-box;
	border-color: var(--wp--custom--global--border-color);
	border-style: var(--wp--custom--global--border-style);
	border-width: var(--wp--custom--global--border-width);
	border-radius: var(--wp--custom--global--border-radius);
	box-shadow: var(--wp--custom--global--shadow);

	::selection {
		color: currentColor;
		background: #334155;
	}

	.wp-block-code-toolbar {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #1e293b;
		color: #cbd5e1;
		font-family: var(--wp--preset--font-family--mono);
		font-size: 14px;
		padding: var(--wp--preset--spacing--minus-1) var(--wp--preset--spacing--base);
		gap: 2px;
	}

	.wp-block-code-toolbar__icon {
		display: flex;
		gap: 2px;

		svg {
			fill: #ff5f58;
			width: 1em;
			height: 1em;
		}

		svg + svg {
			fill: #febc2e;
		}

		svg + svg + svg {
			fill: #28c840;
		}
	}

	.wp-block-code-toolbar__label {
		line-height: 1;
		background: rgba(255, 255, 255, 0.03);
		padding: 4px 8px;
		border-radius: var(--wp--custom--global--border-radius);
	}

	> .wp-block-code {
		max-height: calc(90vh - 46px); // 46px is mobile size of WP toolbar.
		margin: 0 !important;
		padding: var(--wp--preset--spacing--base) var(--wp--preset--spacing--plus-3);
		border: none;
		border-top: 1px solid #334155;
		border-radius: 0;
		box-shadow: none;
		outline: none;
	}
}

.wp-block-code.is-style-highlight {
	background: #1e293b;
	color: #7e848f;
	tab-size: 4;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);

	.token.keyword {
		color: #a78bfa;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #64748b;
		font-style: italic;
	}

	.token.punctuation {
		color: #94a3b8;
	}

	// ?
	.token.tag,
	.token.symbol,
	.token.deleted {
	}

	.token.property {
		color: #fde68a;
	}

	.token.constant {
		color: #cbd5e1;
	}

	.token.boolean,
	.token.number {
		color: #fdba74;
	}

	.token.selector {
		color: #7dd3fc;
	}

	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: #94a3b8;
	}

	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable,
	.token.parameter,
	.token.interpolation {
		color: #34d399;
	}

	.token.operator {
		color: #a5f3fc;
	}

	.token.atrule,
	.token.attr-value,
	.token.function {
		color: #7dd3fc;
	}

	.token.class-name,
	.token.maybe-class-name,
	.token.package {
		color: #fde68a;
	}

	.token.attribute {
		.punctuation {
			color: #a78bfa;
		}
		.attribute-class-name {
			color: #cbd5e1;
		}
	}

	// ?
	// opening <?php tag uses this important.
	.token.regex,
	.token.important {
		color: #fb7185;
	}

	//.token.important,
	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}

	&.language-css,
	&.language-scss {
		color: #fde68a;
	}

	&.language-css .token.property,
	&.language-scss .token.property {
		color: #cbd5e1;
	}

	&.language-js,
	&.language-javascript {
		color: #34d399;
	}

	&.language-php {
		.this.keyword + .operator {
			color: #cbd5e1;
		}

		.this.keyword {
			color: #fde68a;
		}

		.this.keyword + .operator + .property {
			color: #34d399;
		}
	}

	.editor-styles-wrapper &,
	&:where(:not([class*=language-])) {
		color: #cbd5e1;
	}
}
