////
/// Code block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// WordPress dumps styles on the `<code>` element instead of the `<pre>`. 🤮
///
.wp-block-code {
	overflow: auto;
	word-wrap: normal;

	code {
		overflow: revert;
		word-wrap: revert;
		white-space: revert;
		display: revert;
	}

	// Ensures child tags nested inside `<code>` inherit typography styles.
	// But leave style and weight the same for things like bold and italic.
	code * {
		font-family: inherit;
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
	}
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// No customizations...

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
