////
/// Columns block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// Use the WordPress breakpoints module.
// @link https://github.com/WordPress/gutenberg/tree/trunk/packages/base-styles
@use '~@wordpress/base-styles/breakpoints' as wp;

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Zero out core's hardcoded padding when the block has a background.
:where( .wp-block-columns.has-background ) {
	padding: 0;
}

// Zero out global padding so that the front end and editor match.
.has-global-padding > .alignfull > .wp-block-columns {
	padding-left: 0;
	padding-right: 0;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// WP breaks at 782px.
@media ( max-width: wp.$break-medium ) {
	.wp-block-columns.is-style-reverse-stack {
		flex-wrap: wrap-reverse !important;
	}
}
