////
/// Columns block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// Use the WordPress breakpoints module.
// @link https://github.com/WordPress/gutenberg/tree/trunk/packages/base-styles
@use '~@wordpress/base-styles/breakpoints' as wp;

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Zero out core's bottom margin.
///
:where(.wp-block-columns) {
	margin-bottom: 0;
}

///
/// Zero out core's hardcoded padding when the block has a background.
///
:where(.wp-block-columns.has-background) {
	padding: 0;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// No customizations...

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Reverses stack. Reverses the order of the columns on "mobile" using the
/// default WordPress breakpoint.
///
/// Note: this is not an ideal method of handling this for screen readers. The
/// columns are still in their original order in the DOM. But I don't have any
/// other solutions at the moment. One alternative for at least one use case is
/// to use the Media & Text block, but that case is only for a two-colum image
/// and text section.
///
@media (max-width: wp.$break-medium) {
	.wp-block-columns.is-style-columns-reverse-stack {
		flex-wrap: wrap-reverse !important;
	}
}
