////
/// Comments block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Faux `blockGap` support.
.wp-block-comments > * {
	margin-block-start: 0;
	margin-block-end: 0;
}

.wp-block-comments > * + *,
// Necessary fix for a hardcoded margin in the editor.
.editor-styles-wrapper .wp-block-comments > * + .wp-block.wp-block-comments-pagination {
	margin-block-start: var(
		--wp--custom--block-gap--comments,
		var( --wp--style--block-gap )
	);
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// No customizations...

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
