////
/// Cover block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.wp-block-cover,
.wp-block-cover:where( :not( [style*=padding] ) ) .wp-block-cover__inner-container.has-global-padding {
	padding: var( --wp--preset--spacing--plus-3 );
}

.wp-block-cover:has( .wp-block-cover__inner-container.has-global-padding ) {
	padding: 0;
}

:where( .wp-block-cover .wp-block-heading ) {
	text-shadow: var( --wp--custom--text-shadow--sm );
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// Hover reveal block style.
.wp-block-cover.is-style-hover-reveal {
	position: relative;
	border-radius: var( --wp--custom--defaults--border-radius );
	box-shadow: var( --wp--custom--defaults--shadow );

	// The cover background (used for the overlay), needs to have its
	// opacity set to `1` so that we have a background when the image is
	// hidden for the reveal.
	.wp-block-cover__background {
		transition: opacity 0.5s ease-in-out;
	}

	// Only set the opacity if we're not hovered/focused.
	&:where( :not( :hover, :focus-within ) ) .wp-block-cover__background {
		opacity: 1;
	}

	// By default, we zero out the background image's opacity. Then, we
	// reveal it on hover/focus.
	.wp-block-cover__image-background {
		opacity: 0;
		transition: all 0.5s ease-in-out;
	}

	&:hover,
	&:focus-within {
		.wp-block-cover__image-background {
			opacity: 1;
			transform: scale( 1.3 );
		}
	}

	// Remove text decoration for links.
	a {
		text-decoration: none;
		outline: none;
	}

	// This will technically take all links and position them over the
	// entire Cover block container. However, the last link will win out.
	// We're also making sure that we don't target this when in the editor.
	&:where( :not( [class*=block-editor] ) ) a:after {
		content: "";
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-block-cover.is-style-stretch {
	align-items: stretch;
}

.wp-block-cover.is-style-stretch .wp-block-cover__inner-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.wp-block-cover[class*=is-style-polygon] {
	--polygon-quad-spacer: 0;
	--polygon-quad-1-xy: 0 0;
	--polygon-quad-2-xy: 100% 0;
	--polygon-quad-3-xy: 100% 100%;
	--polygon-quad-4-xy: 0 100%;

	clip-path: polygon(
		var( --polygon-quad-1-xy ),
		var( --polygon-quad-2-xy ),
		var( --polygon-quad-3-xy ),
		var( --polygon-quad-4-xy )
	);
}

.is-style-polygon-slant-up-sm + .is-style-polygon-slant-up-sm,
.is-style-polygon-slant-up-md + .is-style-polygon-slant-up-md,
.is-style-polygon-slant-down-sm + .is-style-polygon-slant-down-sm,
.is-style-polygon-slant-down-md + .is-style-polygon-slant-down-md {
	margin-top: var( --polygon-quad-spacer );
}

.wp-block-cover.is-style-polygon-slant-up-sm {
	--polygon-quad-spacer: -4rem;
	--polygon-quad-1-xy: 0 4rem;
	--polygon-quad-3-xy: 100% calc( 100% - 4rem );
}

.wp-block-cover.is-style-polygon-slant-up-md {
	--polygon-quad-spacer: -8rem;
	--polygon-quad-1-xy: 0 8rem;
	--polygon-quad-3-xy: 100% calc( 100% - 8rem );
}

.wp-block-cover.is-style-polygon-slant-down-sm {
	--polygon-quad-spacer: -4rem;
	--polygon-quad-2-xy: 100% 4rem;
	--polygon-quad-4-xy: 0 calc( 100% - 4rem );
}

.wp-block-cover.is-style-polygon-slant-down-md {
	--polygon-quad-spacer: -8rem;
	--polygon-quad-2-xy: 100% 8rem;
	--polygon-quad-4-xy: 0 calc( 100% - 8rem );
}
