////
/// Details block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.wp-block-details {
	transition: all 0.5s ease-in-out;
	//padding: 0 var( --wp--preset--spacing--plus-3 );

	> :not( summary ) {
		margin-left: var( --wp--style--block-gap );
		margin-right: var( --wp--style--block-gap );
	}
}

.wp-block-details[open] {
	padding-bottom: var( --wp--style--block-gap );
}

.wp-block-details summary {
	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	//width: calc( 100% + var( --wp--preset--spacing--plus-3 ) * 2 );
	//margin: 0 calc( -1 * var( --wp--preset--spacing--plus-3 ) );
	padding: var( --wp--preset--spacing--base ) var( --wp--style--block-gap );
	font-weight: 500;
}

.wp-block-details[open] summary,
.wp-block-details summary:hover,
.wp-block-details summary:focus {
	background: var(
		--wp--custom--blocks--details--summary-hover,
		var( --wp--preset--color--neutral-subtle )
	);
}

.wp-block-details summary::marker {
	content: none;
}

.wp-block-details summary::after {
	content: " +";
	float: right;
	text-align: right;
}
.wp-block-details[open] summary::after {
	content: " -"
}
