////
/// Embed block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// No fixes...

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Give 100% width to WordPress site embeds.
///
/// @todo The `.wp-embedded-content` class doesn't exist, so we need to
/// investigate whether we should give all embeds this same treatment.
///
.wp-block-embed.is-type-wp-embed .wp-embedded-content {
	width: 100%;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
