////
/// File block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/icon';
@use '../../tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Add border box sizing to the block file.
///
/// Note: The editor has an extra wrapper that doesn't exist in the front-end,
/// so we also need to target `*__content-wrapper`.
///
.wp-block-file,
.wp-block-file__content-wrapper {
	box-sizing: border-box;
}

///
/// Zero out the hard-coded margins in the editor.
///
.wp-block-file .components-resizable-box__container,
.wp-block-file .wp-block-file__button-richtext-wrapper {
	margin: 0;
}

///
/// Zero out WP's bottom spacing on embedded media (test with PDF).
///
.wp-block-file__embed {
	margin-bottom: 0;
}

///
/// Overwrite WP's hard-coded font-size so that it inherits from its parent.
///
/// Note: it's impossible to set this via `theme.json`.
///
.wp-block-file:not(.wp-element-button) {
	font-size: inherit;
}

///
/// Core sets the opacity on these states for the file button for some crazy
/// reason or another. 🤪 It sets some other things too, but those can be easily
/// overwritten via `theme.json`.
///
/// Core also hardcodes a text decoration on the button that is impossible to
/// overrule via `theme.json`.
///
.wp-block-file__button {
	&:active,
	&:focus,
	&:hover,
	&:visited {
		opacity: 1;
		text-decoration: underline;
	}

	//
	// Fixes button element styles not working from `theme.json`.
	//
	// @todo Should be fixed for WP 6.9.
	// @link https://github.com/x3p0-dev/x3p0-ideas/issues/27
	//
	&:focus,
	&:hover {
		color: var(--wp--custom--elements--button--primary--hover--color--foreground);
		box-shadow: var(--wp--custom--elements--button--primary--hover--shadow);
	}
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Uses flexbox for the File block for better control over the layout.
///
/// Note: The editor has an extra wrapper that doesn't exist in the front-end, so
/// we also need to target `*__content-wrapper`.
///
.wp-block-file,
.wp-block-file__content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--wp--preset--spacing--40) var(--wp--style--block-gap);
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// The icon style prefixes the block download button with an icon.
///
.wp-block-file.is-style-icon {

	&:where(:not(:has(.wp-block-file__button))) {
		a {
			@include inline-icon.prefix(icon.get-url('download'));
		}
	}

	.wp-block-file__button {
		@include inline-icon.prefix(icon.get-url('download'));
	}
}
