////
/// Group block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////


// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Row blocks within Stack blocks lose their width and collapse. This breaks
// the content justification set for the nested Row.
.wp-block-group-is-layout-flex.is-vertical > :where( .wp-block-group-is-layout-flex:not( .is-vertical ) ) {
	width: 100%;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.wp-block-group:where( .is-style-box, .is-style-card ) {
	overflow: hidden;
	border-radius: var( --wp--custom--defaults--border-radius, 0 );
	box-shadow: var( --wp--custom--defaults--shadow );
}

.wp-block-group.is-style-box {
	padding: var( --wp--style--block-gap );
	background: var( --wp--preset--color--neutral-base );
}

.wp-block-group.is-style-card {
	border: 1px solid var( --wp--preset--color--neutral-subtle );
}

.wp-block-group.is-style-hand-drawn {
	overflow: hidden;
	font-family: var( --wp--preset--font-family--handwriting );
	padding: var( --wp--custom--spacing--global );
	border: 2px solid currentColor;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
	box-shadow: var( --wp--custom--defaults--shadow );
}

.wp-block-group.is-style-padded,
// Need to overwrite core's global padding rules (horizontally).
.has-global-padding :where(.has-global-padding) > .alignfull:where(:not(.has-global-padding)) > .wp-block-group.is-style-padded {
	padding: var( --wp--style--block-gap );
}

.wp-block-group.is-style-padded-y {
	padding: var( --wp--style--block-gap ) 0;
}
