////
/// Group block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/list';
@use '../../tools/prose';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Row blocks within Stack blocks lose their width and collapse. This breaks
/// the content justification set for the nested Row.
///
/// @todo Investigate further.
///
.wp-block-group-is-layout-flex.is-vertical > :where(.wp-block-group-is-layout-flex:not(.is-vertical)) {
	width: 100%;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Ensures that `cqi` values are based on their container, not the viewport. For
/// the Group block's grid layout, we need to specifically target the nested
/// elements because they become the container.
///
.wp-block-group-is-layout-grid > * {
	container-type: inline-size;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Ensures specific styles inherit their color when used inside of a Cover or
/// styled section.
///
.wp-block-cover .is-style-meta,
:is(.is-style-section-1) .is-style-meta,
:is(.is-style-section-1) .is-style-meta a {
	color: inherit;
	background: transparent;
}
