////
/// Image block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/icon.scss';
@use '../../tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

.wp-block-image {
	box-sizing: border-box;
}

// WP's CSS for hiding captions isn't always specific enough to overrule custom
// block styles, so we're giving it a higher specificity.
.wp-lightbox-overlay .wp-block-image figcaption.wp-element-caption {
	display: none;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// Need to add the default border-radius to the link itself, which may have an
// outline style. However, it can't inherit the image's radius, so it needs to
// use the set default.
.wp-block-image a:has( img ) {
	border-radius: var( --wp--custom--defaults--border-radius );
}

// -----------------------------------------------------------------------------
// Gradient background.
// -----------------------------------------------------------------------------

figure.wp-block-image[class*=-gradient-background] {
	// Setting the size to zero because, in most cases, we're inheriting the
	// background gradient on the image and hiding this. In cases where we
	// want to use the gradient on the wrapping `<figure>` tag, just reset
	// this to `auto`.
	background-size: 0 0 !important;

	// Note that the editor has an extra wrapper `<div>` around the image,
	// so we must inherit here so that we can inherit on the `<img>` tag.
	> div,
	> a {
		background: inherit;
	}

	// Inherits the background image from the parent `<figure>` tag and
	// applies it to the image itself. This allows the `<figcaption>` to sit
	// outside of the "frame" for most block styles.
	img {
		background-color: inherit;
		background-image: inherit;
		padding: clamp( 0.5rem, -0.33333333333333326rem + 2.083333333333333cqi, 1rem );
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// Borderless style.
.wp-block-image.is-style-borderless,
.wp-block-image.is-style-borderless img {
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}

// Hand-drawn style.
.wp-block-image[class*=is-style-hand-drawn] img {
	color: inherit;
	border: 2px solid currentColor;
	overflow: hidden;
	box-shadow: var( --wp--custom--defaults--shadow );
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}

.wp-block-image.is-style-hand-drawn[class*=gradient-] img {
	padding: 2px;
}

// We need to target `.wp-element-caption` specifically to overwrite caption
// styles defined in `theme.json`.
.wp-block-image.is-style-hand-drawn .wp-element-caption {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: baseline;
	transform: rotate( 0.5deg );
	font-family: var( --wp--preset--font-family--handwriting );
	font-size: var( --wp--preset--font-size--md );
	line-height: var( --wp--custom--line-height--md );
}

.wp-block-image.is-style-hand-drawn figcaption::before {
	content: "\2938 ";
	transform: rotate( 135deg );
	padding-top: 0.5rem;
}

// Icon style.
.wp-block-image.is-style-icon .wp-element-caption {
	@include inline-icon.prefix( icon.get-url( 'photo-camera' ) );
	justify-content: center;
	gap: 0.5rem;
}


// Polaroid style.
figure.wp-block-image.is-style-polaroid {
	padding:          var( --wp--preset--spacing--base );
	background-color: var( --color-contrast, var( --wp--preset--color--base ) );
	transition: all 0.5s ease-in-out;
	overflow: visible;
	background-size: auto !important;
}

.wp-block-image.is-style-polaroid:where( :not( [class*=gradient-] ) ) {
	box-shadow: var( --wp--custom--defaults--shadow ), 0 0 8rem rgb( 255, 255, 235 ) inset;
}

// todo - shadow colors that inherit.
// inset and outer shadow should match.
:where( [class*=has-color-var-] ) .wp-block-image.is-style-polaroid:where( :not( [class*=gradient-] ) ) {
	box-shadow: var( --wp--custom--defaults--shadow );
}

.wp-block-image.is-style-polaroid .wp-element-caption {
	margin-top: var( --wp--preset--spacing--40 );
	color: var( --color-base, var( --wp--preset--color--contrast ) );
	font-family: var( --wp--preset--font-family--handwriting );
}

.wp-block-image.is-style-polaroid[class*=-gradient-background] {
	img {
		padding: 0;
	}
	.wp-element-caption {
		color: var( --wp--preset--color--white );
		text-shadow: 1px 1px 1px #000, 0 0 8px rgba( 0, 0, 0, 0.7 );
	}
}

.wp-block-image[class*=is-style-tape] {
	overflow: visible;
	position: relative;

	.wp-element-caption {
		font-family: var( --wp--preset--font-family--handwriting );
	}
}

.wp-block-image[class*=is-style-tape]::before,
.wp-block-image[class*=is-style-tape]::after {
	content: "";
	display: block;
	position: absolute;
	background: rgba( 255, 255, 235, 0.5 );
	box-shadow: 0 2px 5px 0 rgba( 0, 0, 0, 0.3 ), 0 0 4rem rgba( 255, 255, 235, 0.5 ) inset;
	height: var( --wp--preset--spacing--plus-3 );
	margin: auto;
	width: 7rem;
	z-index: 1;
}

.wp-block-image.is-style-tape::before {
	left: 50%;
	margin-left: -3.5rem;
	top: calc( -1 * var( --wp--preset--spacing--minus-2 ) );
	transform: rotate( 8deg );
}

.wp-block-image.is-style-tape::after {
	display: none;
}

.wp-block-image.is-style-tape[class*=gradient-]::before {
	top: calc(
		-0.75 *
		clamp( 0.5rem, -0.33333333333333326rem + 2.083333333333333cqi, 1rem )
	);
}

.wp-block-image.is-style-tape-corners::before {
	left: calc( -1 * var( --wp--preset--spacing--plus-3 ) );
	top: var( --wp--preset--spacing--minus-2 );
	transform: rotate( -35deg );
}

.wp-block-image.is-style-tape-corners::after {
	right: calc( -1 * var( --wp--preset--spacing--plus-3 ) ) !important;
	top: var( --wp--preset--spacing--minus-2 ) !important;
	bottom: unset !important;
	left: unset !important;
	transform: rotate( 45deg);
}

// Adjustments for image lightbox.
.wp-lightbox-overlay.active .wp-block-image[class*=is-style-tape] {
	&::before,
	&::after {
		display: none;
	}
}

// Editor fix. The tape styles use the `::after` pseudo-element as part
// of their design. But WP also uses this in the editor to show the selected
// block outline. So, we're attaching an outline to the image itself in this case.
.wp-block-image[class*=is-style-tape].block-editor-block-list__block:focus img {
	outline: 2px solid var(--wp-admin-theme-color, transparent );
}

.wp-block-image:where(
	[class*=is-style-polaroid],
	[class*=is-style-scotch-tape]
) .components-resizable-box__handle {
	display: none;
}

// Revert custom styles for lightbox images.
.wp-lightbox-overlay .wp-block-image.enlarged-image {
	padding: 0 !important;
	border: none !important;
}

.wp-lightbox-overlay .wp-block-image img {
	padding: 0 !important;
	border: none !important;
	border-radius: var( --wp--custom--defaults--border-radius ) !important;
	box-shadow: var( --wp--custom--defaults--shadow ) !important;
}
