////
/// Image block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/icon.scss';
@use '../../tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Make sure the image block has border box sizing.
///
.wp-block-image {
	box-sizing: border-box;
}

///
/// The WordPress lightbox for CSS to hide captions isn't always specific enough
/// to overrule custom block styles, so we're giving it a higher specificity.
///
.wp-lightbox-overlay .wp-block-image figcaption.wp-element-caption {
	display: none;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Don't add borders or shadow to SVG images or their wrapping link elements
/// by default.
///
.wp-block-image img[src$=".svg"],
.wp-block-image a:has(img[src$=".svg"]),
.editor-styles-wrapper .wp-block-image img[src$=".svg"],
.editor-styles-wrapper .wp-block-image a:has(img[src$=".svg"]) {
	border: none;
	box-shadow: none;
}

///
/// Need to add the default border-radius to the link itself, which may have an
/// outline style. However, it can't inherit the image's radius, so it needs to
/// use the set default.
///
.wp-block-image a:has(img) {
	border-radius: var(--wp--custom--border--primary--radius);
}

///
/// Match hover background with that defined by `a img:hover`.
///
.wp-lightbox-container img {
	transition: box-shadow 0.5s ease-in-out;

	&:hover {
		box-shadow: var(--wp--custom--shadow--primary--hover);
	}
}

///
/// Lightbox trigger button positioning to match the theme's spacing.
///
.wp-lightbox-container .lightbox-trigger {
	top: var(--wp--preset--spacing--20) !important;
	right: var(--wp--preset--spacing--20) !important;
}

///
/// Gradient background styles for the custom editor feature. Essentially, this
/// style creates a faux border by placing a background on the block and giving
/// it padding.
///
figure.wp-block-image[class*=-gradient-background] {
	--image-padding: clamp(0.5rem, -0.33333333333333326rem + 2.083333333333333cqi, 1rem);

	// Setting the size to zero because, in most cases, we're inheriting the
	// background gradient on the image and hiding this. In cases where we
	// want to use the gradient on the wrapping `<figure>` tag, just reset
	// this to `auto`.
	background-size: 0 0 !important;

	// Remove any theme/variation padding from the wrapper.
	padding: 0;

	// Note that the editor has an extra wrapper `<div>` around the image,
	// so we must inherit here so that we can inherit on the `<img>` tag.
	// The image can also have a link wrapper, so it must also inherit for
	// both the front end and editor.
	> div,
	> a,
	> div > a {
		background: inherit;
	}

	// Inherits the background image from the parent `<figure>` tag and
	// applies it to the image itself. This allows the `<figcaption>` to sit
	// outside of the "frame" for most block styles.
	img {
		background-color: inherit;
		background-image: inherit;
		border: none;
		padding: var(--image-padding);
	}

	// Repositions the lightbox trigger button to account for the additional
	// padding on the image.
	.lightbox-trigger {
		top: calc(var(--image-padding) + var(--wp--preset--spacing--20)) !important;
		right: calc(var(--image-padding) + var(--wp--preset--spacing--20)) !important;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// An icon style that prefixes the caption with a camera icon. 📷
///
.wp-block-image.is-style-icon .wp-element-caption {
	@include inline-icon.prefix(icon.get-url('photo-camera'));

	& {
		justify-content: center;
		gap: 0.5rem;
	}
}

// -----------------------------------------------------------------------------
// Block overrides.
// -----------------------------------------------------------------------------

///
/// Necessary adjustments for images within a lightbox. Just making sure the
/// theme's custom styles don't cause too much craziness.
///
.wp-lightbox-overlay .wp-block-image.enlarged-image {
	padding: 0 !important;
	border: none !important;
}

.wp-lightbox-overlay .wp-block-image img {
	padding: 0 !important;
	border: none !important;
	border-radius: var(--wp--custom--border--primary--radius) !important;
	box-shadow: var(--wp--custom--shadow--primary--default) !important;
}
