////
/// Latest Comments block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// WP hardcodes a font-size for comment dates and excerpt paragraphs.
.wp-block-latest-comments__comment-date,
.wp-block-latest-comments__comment-excerpt p {
	font-size: inherit;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.wp-block-latest-comments__comment {
	display: flex;
	gap: var(--wp--preset--spacing--base);
	margin: 0;

	+ li {
		margin-top: var(--wp--preset--spacing--base);
	}
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	box-shadow: var( --wp--custom--global--shadow );
	border-radius: 1.5em;
	float: none;
	width: 48px;
	height: 48px;
	margin: 0;
}

.wp-block-latest-comments:where(.has-dates, .has-excerpts) .wp-block-latest-comments__comment-avatar {
	margin: 0.25em 0 0;
}

.wp-block-latest-comments__comment-meta {
	font-size: min(0.9375em, 1.0625rem);
}

.wp-block-latest-comments__comment-excerpt {
	margin: var( --wp--preset--spacing--minus-3 ) 0 0;

	p {
		margin: 0;
	}
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
	margin-left: 0;
	margin-right: 0;
}

ol.wp-block-latest-comments:where(
	:not(.has-excerpts)
):where(.has-avatars) .wp-block-latest-comments__comment {
	align-items: center;
}

// Must target `<ol>` because WordPress wraps a `<div>` with the same block
// class around the `<ol>` in the editor. 🤦‍♀️
ol.wp-block-latest-comments:where(:not(.has-avatars, .has-excerpts)) {
	list-style: revert;
	padding-inline-start: var( --wp--preset--spacing--plus-4 );

	.wp-block-latest-comments & {
		padding-inline-start: var( --wp--preset--spacing--plus-4 );
	}

	.wp-block-latest-comments__comment {
		display: list-item;
		list-style: initial;
		margin-bottom: 0;
		padding-left: 0.25em;
	}

	:where(li + li) {
		margin-block-start: var( --wp--preset--spacing--minus-1 );
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
