////
/// List block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/list';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// No fixes...

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Include the base list style.
///
.wp-block-list:where(ul, ol),
ul,
ol {
	@include list.flow();
}

ol li::marker {
	font-size: 0.875em;
}

[class*=has-text-color-] li::marker {
	color: inherit;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// The pull style "pulls" the list back to be flush with the text.
///
:is(ul, ol).is-style-list-pull {
	padding-left: 1em;

	&.has-marker-none {
		padding-left: 0;
		padding-right: 0;
	}
}

///
/// Horizontal list style.
///
:is(ul, ol).is-style-list-horizontal,
.wp-block-list.is-style-list-horizontal {
	@include list.horizontal();
}

///
/// When a list doesn't have markers and the list item has custom markers, we
/// reduce the size of the inline padding by the width of the list item markers.
///
.wp-block-list.has-marker-none:is(
	:not([class*=is-style-]),
	.is-style-default
):has(
	.is-style-check-circle,
	.is-style-cancel-circle
) {
	padding-inline-start: calc(var(--wp--preset--spacing--80) - 1.5em);
}
