////
/// Media & Text block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Adds a default block gap to the Media & Text block and removes WordPress'
/// arbitrary, hardcoded padding from the content area, which breaks both
/// vertical and horizontal rhythm.
///
/// @link https://github.com/WordPress/gutenberg/issues/49406
///
.wp-block-media-text {
	gap: var(--wp--preset--spacing--plus-5);

	.wp-block-media-text__content {
		padding: 0;
	}
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Ensures that `cqi` values are based on their container, not the viewport.
///
.wp-block-media-text__content {
	container-type: inline-size;
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
