////
/// Navigation block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// Zeroes out margins from general list spacing.
.wp-block-navigation .wp-block-navigation-item {
	margin: 0;
}

.wp-block-navigation .wp-block-navigation__submenu-icon {
	margin-left: var(--wp--preset--spacing--minus-2);
}

.wp-block-navigation button.wp-block-navigation__responsive-container-open,
.wp-block-navigation button.wp-block-navigation__responsive-container-close {

	// `theme.json`-supported styles.
	color:         var(--wp--custom--toggle--color);
	background:    var(--wp--custom--toggle--background);
	border-width:  var(--wp--custom--toggle--border-width);
	border-style:  var(--wp--custom--toggle--border-style);
	border-color:  var(--wp--custom--toggle--border-color);
	border-radius: var(--wp--custom--toggle--border-radius);

	padding: var(--wp--preset--spacing--minus-2) var(--wp--preset--spacing--minus-1);

	svg {
		width: 20px;
		height: 20px;
	}
}

.wp-block-navigation__responsive-container-close svg {
	transform: scale(0.9);
}

// -----------------------------------------------------------------------------
// Responsive menu when it is open.
// -----------------------------------------------------------------------------

.wp-block-navigation__responsive-container.is-menu-open {
	> * { color: inherit; }
	// Fixes mobile padding.
	padding: var(--wp--style--block-gap);

	// Fix justification when menu is initially aligned right.
	--navigation-layout-justification-setting: flex-start;

	:is(.wp-block-navigation-item, .wp-block-navigation__container, .wp-block-page-list) {
		--navigation-layout-justification-setting: flex-start;
	}

	.wp-block-navigation__container {
		width: 100%;
	}

	// Zeroes out WP's inherited gap between items in the mobile menu.
	.wp-block-navigation-item,
	.wp-block-navigation__responsive-container-content,
	.wp-block-navigation__responsive-container-content .wp-block-navigation__container {
		gap: 0;
	}

	.wp-block-navigation__responsive-close {
		max-width: 100%;
	}
}

// Removes top margin that's added when the admin bar is shown. This makes sense
// in general, but the menu is completely above the admin bar, so we just get a
// ton of whitespace instead.
.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
	margin-top: 0;
}
