////
/// Post Featured Image block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// No fixes...

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// Need to add the default border-radius to the link itself, which may have an
// outline style. However, it can't inherit the image's radius, so it needs to
// use the set default.
.wp-block-post-featured-image a:has(img) {
	border-radius: var(--wp--custom--global--border-radius);
}

// -----------------------------------------------------------------------------
// Gradient background.
// -----------------------------------------------------------------------------

figure.wp-block-post-featured-image[class*=-gradient-background] {
	background-size: 0 0 !important;

	img {
		background-color: inherit;
		background-image: inherit;
		padding: clamp(0.5rem, -0.33333333333333326rem + 2.083333333333333cqi, 1rem);
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// The borderless style removes any potential borders around the images, even
/// styles that are similar to a border, such as outlines and shadows. We also
/// remove any padding so that backgrounds on the block or image don't appear.
/// This style targets both the outer block and the nested image to clear away
/// those styles.
///
.wp-block-post-featured-image.is-style-borderless,
.wp-block-post-featured-image.is-style-borderless img {
	padding: 0 !important;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}
