////
/// Post Author Name block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../tools/icon';
@use '../../tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// No fixes...

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// No customizations...

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// The icon style prefixes the block text with an icon.
///
.wp-block-post-author-name.is-style-icon {
	@include inline-icon.prefix(icon.get-url('pencil'));
}
