////
/// Pullquote block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Zero out default browser spacing.
.wp-block-pullquote blockquote {
	margin: 0;
	padding: 0;
}

// Faux `blockGap` support.
:where(.wp-block-pullquote blockquote > *) {
	margin-top: 0;
	margin-bottom: 0;
}

:where(.wp-block-pullquote blockquote > * + *) {
	margin-top: var(
		--wp--custom--block-gap--pullquote,
		var(--wp--style--block-gap)
	);
}

// Cite doesn't have a standalone block-level wrapper, so it should be a block
// element itself.
.wp-block-pullquote blockquote > cite {
	display: block;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.wp-block-pullquote blockquote {
	text-wrap: balance;

	// This sets stylistic quotes used on the wrapper element, not the
	// quotes used for the content itself.
	&::before,
	&::after,
	p::before,
	p::after {
		quotes: "“" "”";
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// Mark top style.
.wp-block-pullquote.is-style-mark-top,
.editor-styles-wrapper .wp-block-pullquote.is-style-mark-top {
	padding: 0;
	border: none;
}

.wp-block-pullquote.is-style-mark-top blockquote {
	padding: 1em 0 0;
	display: flex;
	flex-direction: column;
}

.wp-block-pullquote.is-style-mark-top blockquote::before {
	content: open-quote;
	color: currentColor;
	font-size: 4em;
	line-height: 0.25;
	font-weight: 700;
}

// Figure element needed to overwrite styles in editor.

figure.wp-block-pullquote.is-style-hand-drawn {
	padding:       var(--wp--style--block-gap) 0;
	border-color:  var(--wp--preset--color--contrast);
	border-width:  var(--wp--preset--spacing--minus-2) 0;
	border-radius: 255px 15px 255px 15px/15px 10px 15px 10px !important;
}
