////
/// Quote block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Zero out default browser spacing.
///
:where(.wp-block-quote) {
	margin: 0;
	padding: 0;
}

///
/// Cite doesn't have a standalone block-level wrapper, so it should be a block
/// element itself.
///
.wp-block-quote cite {
	display: block;
}

///
/// Faux `blockGap` support.
///
/// @todo       Remove with WP 6.5 support.
/// @link       https://github.com/WordPress/gutenberg/pull/56064
/// @wordpress  6.5
///
:where(.wp-block-quote > *) {
	margin-block-start: 0;
	margin-block-end: 0;
}

:where(.wp-block-quote > * + *) {
	margin-block-start: var(--wp--custom--gap, var(--wp--style--block-gap));
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// No customizations.

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Handling for nesting a Verse block inside of a Quote block when set to
/// `is-style-plain`.
///
.wp-block-quote.is-style-plain:has(.wp-block-verse) {
	padding: 0;

	cite {
		margin-top: var(--wp--preset--spacing--base);
	}
}
