////
/// RSS block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Adds missing spacing between feed items when they have excerpts.
.wp-block-rss.has-excerpts .wp-block-rss__item + .wp-block-rss__item {
	margin-block-start: var( --wp--style--block-gap );
}

// Reverts WP's default author and publish date font-size.
.wp-block-rss__item-author,
.wp-block-rss__item-publish-date {
	font-size: inherit;
}
