////
/// Search block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../../02.tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Sometimes, layout margin is applied to this element.
.wp-block-search__inside-wrapper {
	margin-top: 0;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.has-text-color .wp-block-search {
	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		color: currentColor;
		background: transparent;
		border-color: currentColor;
	}
}

.wp-block-search.wp-block-search__button-inside {
	.wp-block-search__button {
		padding: 0.25rem 0.75rem;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------


.wp-block-search.is-style-icon {

	.wp-block-search__label {
		// https://fonts.google.com/icons?icon.query=search&selected=Material+Icons+Outlined:search:&icon.set=Material+Icons
		@include inline-icon.prefix(
			url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>')
		);

		&::before { transform: scaleX( -1 ); }
	}
}

// Small size. Needed??
.wp-block-search.is-style-sm {
	font-size: var( --wp--preset--font-size--sm );

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		padding: 0.25rem 0.25rem 0.25rem 0.5rem;
		line-height: 1;
	}

	&.wp-block-search__button-inside .wp-block-search__input {
		padding: 0;
	}

	.wp-block-search__button {
		font-size: inherit;
		padding: 0.25rem 0.75rem;
	}
}
