////
/// Search block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Sometimes, layout margin is applied to this element.
.wp-block-search__inside-wrapper {
	margin-top: 0;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.has-text-color .wp-block-search {
	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		color: currentColor;
		background: transparent;
		border-color: currentColor;
	}
}

.wp-block-search.wp-block-search__button-inside {
	.wp-block-search__button {
		padding: 0.25rem 0.75rem;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.wp-block-search.is-style-sm {
	font-size: var( --wp--preset--font-size--sm );

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		padding: 0.25rem 0.25rem 0.25rem 0.5rem;
		line-height: 1;
	}

	&.wp-block-search__button-inside .wp-block-search__input {
		padding: 0;
	}

	.wp-block-search__button {
		font-size: inherit;
		padding: 0.25rem 0.75rem;
	}
}
