////
/// Social Links block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// WordPress hardcodes a `1.25em` width and height for the SVG when using the
/// "logos only" block style variation. This makes the icon size inconsistent
/// with other instances of the block.
///
.wp-block-social-links.is-style-logos-only .wp-social-link svg {
	width: 1em;
	height: 1em;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Adjusts the font sizes for the small icon size.
///
.wp-block-social-links.has-small-icon-size {
        font-size: var(--wp--preset--font-size--sm);

	.wp-block-social-link-label:not(.screen-reader-text) {
		font-size: var(--wp--preset--font-size--2-xs);
	}
}

///
/// Adjusts the font sizes for the small normal size.
///
.wp-block-social-links.has-normal-icon-size {
        font-size: var(--wp--preset--font-size--md);

	.wp-block-social-link-label:not(.screen-reader-text) {
		font-size: var(--wp--preset--font-size--xs);
	}
}

///
/// Adjusts the font sizes for the large icon size.
///
.wp-block-social-links.has-large-icon-size {
        font-size: var(--wp--preset--font-size--lg);

	.wp-block-social-link-label:not(.screen-reader-text) {
		font-size: var(--wp--preset--font-size--sm);
	}
}

///
/// Adjusts the font sizes for the huge icon size.
///
.wp-block-social-links.has-huge-icon-size {
        font-size: var(--wp--preset--font-size--xl);

	.wp-block-social-link-label:not(.screen-reader-text) {
		font-size: var(--wp--preset--font-size--md);
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Fill block style. Note that we must define the colors via CSS to prevent
/// WordPress's hardcoded CSS from overwriting them.
///
.wp-block-social-links.is-style-fill .wp-social-link {
	background: var(--wp--custom--global--fill--background);
	color: var(--wp--custom--global--fill--color);

	&:has(a:focus, a:hover) {
		background: var(--wp--custom--global--fill--hover-background);
		color: var(--wp--custom--global--fill--hover-color);
	}
}

///
/// Monotone block style. Note that we must define the colors via CSS to prevent
/// WordPress's hardcoded CSS from overwriting them.
///
.wp-block-social-links.is-style-monotone .wp-social-link {
	background: transparent;
	color: currentColor;
}
