////
/// Table block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

///
/// Fixes inconsistent default `thead` and `tfoot` alignment.
///
.wp-block-table thead tr {
	text-align: left;
}

///
/// Zero out borders.
///
.wp-block-table :is(tr, th, td, tbody) {
	border-width: 0;
}

///
/// `theme.json` border support for tables is horribly broken, so we're just
/// inheriting the border color for everything here.
///
.wp-block-table.has-border-color :is(thead, tfoot, tr th, tr td) {
	border-color: inherit;
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Make WP's default borders smaller and inherit colors.
///
.wp-block-table thead {
	border-bottom: 1px solid;
	border-color: inherit;
}

.wp-block-table tfoot,
.wp-block-table tbody tr:where(:not(:first-child)) {
	border-top: 1px solid;
	border-color: inherit;
}

///
/// Less prominent bold for headers.
///
.wp-block-table :where(th) {
	font-weight: 600;
}

///
/// Adjust padding for cells.
///
.wp-block-table :is(th, td) {
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
}

///
/// Allow styling `thead` from `theme.json`.
///
.wp-block-table thead {
	background:  var(--wp--custom--elements--thead--color--background, transparent);
	color:       var(--wp--custom--elements--thead--color--foreground, currentColor);

	font-family: var(--wp--custom--elements--thead--typography--font-family, inherit);
	font-size:   var(--wp--custom--elements--thead--typography--font-size,   inherit);
	font-style:  var(--wp--custom--elements--thead--typography--font-style,  inherit);
	font-weight: var(--wp--custom--elements--thead--typography--font-weight, 600);
	line-height: var(--wp--custom--elements--thead--typography--line-height, inherit);
}

///
/// Allow styling `tfoot` from `theme.json`.
///
.wp-block-table tfoot {
	background:  var(--wp--custom--elements--tfoot--color--background, transparent);
	color:       var(--wp--custom--elements--tfoot--color--foreground, currentColor);

	font-family: var(--wp--custom--elements--tfoot--typography--font-family, inherit);
	font-style:  var(--wp--custom--elements--tfoot--typography--font-style,  inherit);
	font-weight: var(--wp--custom--elements--tfoot--typography--font-weight, 600);
	line-height: var(--wp--custom--elements--tfoot--typography--line-height, inherit);
	font-size:   var(--wp--custom--elements--tfoot--typography--font-size,   inherit);
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

///
/// Core `stripes` style adjustments. Styling via `theme.json` appends CSS to
/// the table instead of the wrapper. Also allows customization of stripe row
/// variables, such as color and background.
///
.wp-block-table.is-style-stripes {
	border: none;

	tbody tr {
		border: none;
	}

	tbody tr:nth-child(odd) {
		background: transparent;
	}

	thead tr,
	tbody tr:nth-child(even),
	tbody:has(tr:last-child:nth-child(odd)) + tfoot tr {
		background: var(--wp--custom--stripes--color--background, transparent);
		color:      var(--wp--custom--stripes--color--foreground, inherit);
	}
}
