###
## .gitattributes configuration file.
##
## @link https://git-scm.com/docs/gitattributes
###

## -----------------------------------------------------------------------------
## Denote all files that are truly binary and should not be modified.
## @link https://help.github.com/articles/dealing-with-line-endings/
## -----------------------------------------------------------------------------

* text auto
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.eot binary
*.ttf binary
*.webp binary
*.woff binary
*.woff2 binary
*.zip binary

## -----------------------------------------------------------------------------
## Ignore folders and files when exporting as a ZIP.
## -----------------------------------------------------------------------------

_playground/ export-ignore
.github/ export-ignore
.notes/ export-ignore
docs/ export-ignore

# Don't export folders that are merely copied into `/public`. Note that we're
# retaining the `resources/js` and `resources/scss` folders because they are
# required for themes submitted to WordPress.org.
# @link https://make.wordpress.org/themes/handbook/review/required/#9-files
/resources/fonts export-ignore
/resources/media export-ignore
/resources/partials export-ignore

.editorconfig export-ignore
.gitattributes export-ignore
.gitattributes export-ignore
package-lock.json export-ignore
package.json export-ignore
webpack.config.js export-ignore
