###
## Git Ignore configuration file.
##
## @link https://git-scm.com/docs/gitignore
###

## -----------------------------------------------------------------------------
## Files and folders to ignore on commit (untracked files).
## -----------------------------------------------------------------------------

/.ideas
/node_modules
/vendor
*.map
.DS_Store

/styles/*.json
!/styles/a-little-bit-bookish.json
!/styles/boundaries.json
!/styles/chestnut-rose.json
!/styles/extant.json
!/styles/saga.json
!/styles/th5.json
!/styles/thunderbird.json
!/styles/unravel.json
