###
## Git Ignore configuration file.
##
## @link https://git-scm.com/docs/gitignore
###

## -----------------------------------------------------------------------------
## Files and folders to ignore on commit (untracked files).
## -----------------------------------------------------------------------------

/.ideas
/node_modules
/vendor
*.map
.DS_Store

/styles/color/*.json
/styles/typography/*.json

/styles/global/*.json
!/styles/global/a-little-bit-bookish.json
!/styles/global/boundaries.json
!/styles/global/chestnut-rose.json
!/styles/global/extant.json
!/styles/global/memories.json
!/styles/global/saga.json
!/styles/global/th5.json
!/styles/global/thunderbird.json
!/styles/global/unravel.json
