###
## Git Ignore configuration file.
##
## @link https://git-scm.com/docs/gitignore
###

## -----------------------------------------------------------------------------
## Files and folders to ignore on commit (untracked files).
## -----------------------------------------------------------------------------

/.idea
/.ideas
/node_modules
/vendor
*.map
.DS_Store
