###
## Git Attributes configuration file.
##
## @link https://git-scm.com/docs/gitattributes
###

## -----------------------------------------------------------------------------
## Denote all files that are truly binary and should not be modified.
## @link https://help.github.com/articles/dealing-with-line-endings/
## -----------------------------------------------------------------------------

* text auto
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.eot binary
*.ttf binary
*.webp binary
*.woff binary
*.woff2 binary
*.zip binary

## -----------------------------------------------------------------------------
## Ignore folders and files when exporting as a ZIP.
## -----------------------------------------------------------------------------

.github/ export-ignore
.idea/ export-ignore
.ideas/ export-ignore
.notes/ export-ignore
.playground/ export-ignore
dev/ export-ignore
docs/ export-ignore
node_modules/ export-ignore
tests/ export-ignore

# Don't export folders that are merely copied into `/public`.
/resources/fonts export-ignore
/resources/media export-ignore

# Don't export experimental features.
/experiments export-ignore

# Don't export experimental parts, patterns, styles, or templates.
/parts/experiment-*.html export-ignore
/patterns/experiment-*.php export-ignore
/styles/*/experiment-*.json export-ignore
/templates/experiment-*.html export-ignore

# Note that we're retaining the `resources/js` and `resources/scss` folders,
# despite them containing dev-only files. They are required for themes submitted
# to WordPress.org. You may uncomment the following attribute lines if you don't
# want to export them when archiving.
# @link https://make.wordpress.org/themes/handbook/review/required/#9-files

# /resources/js
# /resources/scss

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcs.xml export-ignore
.phpcs.xml.dist export-ignore
composer.json export-ignore
composer.lock export-ignore
package-lock.json export-ignore
package.json export-ignore
webpack.config.js export-ignore
*.map export-ignore
.DS_Store export-ignore
