////
/// Color variation utility classes.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

///
/// Valid color variations will have three specific classes set for the color,
/// background, and border. By checking if these classes exists, we can handle
/// all color variations with a single rule.
///
:is([class*="900-color"][class*="50-background-color"][class*="100-border-color"]) {

	// All sub-elements should inherit the colors by default.
	:where(*) {
		color: inherit;
		background-color: transparent;
		text-decoration-color: currentColor;
		outline-color: currentColor;
	}

	&:where(.has-neutral-900-color) :where(*) {
		border-color: var(--wp--preset--color--neutral-500);
	}

	&:where(.has-primary-900-color) :where(*) {
		border-color: var(--wp--preset--color--primary-500);
	}

	&:where(.has-secondary-900-color) :where(*) {
		border-color: var(--wp--preset--color--secondary-500);
	}
}
