////
/// Color variation utility classes.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

///
/// A custom class for handling blocks that should have the global border by
/// default in the design. Currently, WordPress doesn't support border presets,
/// so there's no way to add these on generic sections.
///
:root :where(.has-global-border) {
	overflow: hidden;
	border: var(--wp--custom--border--primary--width, 0)
		var(--wp--custom--border--primary--style, solid)
		var(--wp--custom--border--primary--color, transparent);
	border-radius: var(--wp--custom--border--primary--radius, 0);
	box-shadow: var(--wp--custom--shadow--primary--default, none);
}

///
/// Removes the border radius and left/right borders on full-width blocks.
///
:where(.wp-block-post-content) :where(:not(.has-global-padding)) > [class*=wp-block].alignfull,
:where(.wp-block-post-content) .has-global-border.alignfull,
.wp-block-post-featured-image.alignfull img,
.wp-block-image.alignfull img {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

///
/// Cleans up smiley styling.
///
svg.wp-smiley {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
