////
/// Lightbox handling.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

///
/// Customizes the lightbox overlay.
///
/// @todo We need a `--wp--custom--color--scrim` color.
/// @todo Should we use button styling for the close button?
///
.wp-lightbox-overlay {
	background: var(--wp--custom--color--surface--backdrop, #000);
	color: var(--wp--custom--color--text--backdrop, #fff);

	.scrim {
		background: none !important;
	}

	.close-button {
		right: calc(env(safe-area-inset-right) + var(--wp--preset--spacing--plus-3));
		top: calc(env(safe-area-inset-top) + var(--wp--preset--spacing--base));
		fill: var(--wp--custom--color--text--backdrop, #fff) !important;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}
