////
/// List markers handling.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// Some blocks, like Archives, wrap the list in an extra block `<div>` wrapper
// in the editor and apply the class to this wrapper.
:where(ul, ol, .wp-block-archives)[class*=has-marker-],
:where(.wp-block-archives)[class*=has-marker-] ul {
	list-style: var(--list-type, revert);
}

// Marker styles.
.has-marker-none         { --list-type: none; }
.has-marker-disc         { --list-type: disc; }
.has-marker-circle       { --list-type: circle; }
.has-marker-square       { --list-type: square; }
.has-marker-decimal      { --list-type: decimal; }
.has-marker-leading-zero { --list-type: decimal-leading-zero; }
.has-marker-lower-alpha  { --list-type: lower-alpha; }
.has-marker-upper-alpha  { --list-type: upper-alpha; }
.has-marker-lower-roman  { --list-type: lower-roman; }
.has-marker-upper-roman  { --list-type: upper-roman; }

// Need to target the element for higher specificity to overrule some blocks,
// such as Page List.
ul.has-marker-none,
ol.has-marker-none,
ul.has-marker-none > li,
ol.has-marker-none > li,
.wp-block-archives-list.has-marker-none,
.wp-block-archives.has-marker-none .wp-block-archives {
	padding-left: 0;
	padding-right: 0;
}

:where(:where(
	ul,
	ol,
	.wp-block-archives
)[class*=has-marker-] :where(ul, ol)) {
	list-style-type: inherit;
}
