////
/// RichText utility classes.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

.has-larger-text {
	font-size: larger;
}

.has-overline {
	text-decoration: overline solid min(0.078125em, 2px);
}
