////
/// Text shadow block style utility classes.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

.has-text-shadow-none { text-shadow: none; }
.has-text-shadow-sm   { text-shadow: var( --wp--custom--text-shadow--sm, none ); }
.has-text-shadow-md   { text-shadow: var( --wp--custom--text-shadow--md, none ); }
.has-text-shadow-lg   { text-shadow: var( --wp--custom--text-shadow--lg, none ); }
