a.fn,sup.fn,sup[data-fn]{font-size:.8125em;line-height:0}a.fn,sup.fn a,sup[data-fn] a{outline:none;text-decoration:none}.wp-block-footnotes a[href^="#"]{text-decoration:none}ol.wp-block-footnotes.is-style-pull{padding-left:1em}
