/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/scss/blocks/core/post-comments-form.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.wp-block-post-comments-form .comment-form-cookies-consent {
  align-items: baseline;
}

.wp-block-post-comments-form input[type=submit] {
  box-shadow: var(--wp--custom--defaults--shadow);
}

.wp-block-post-comments-form > * {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.wp-block-post-comments-form > * + *,
.wp-block-post-comments-form .comment-reply-title + * {
  -webkit-margin-before: var(--wp--custom--block-gap--comments-form, var(--wp--preset--spacing--base));
          margin-block-start: var(--wp--custom--block-gap--comments-form, var(--wp--preset--spacing--base));
}

.wp-block-post-comments-form .comment-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--wp--custom--block-gap--comments-form, var(--wp--preset--spacing--base));
}
.wp-block-post-comments-form .comment-form > * {
  margin: 0;
  grid-column: 1/-1;
}
@media (min-width: 40rem) {
  .wp-block-post-comments-form .comment-form .comment-form-author {
    grid-column: 1/1;
  }
  .wp-block-post-comments-form .comment-form .comment-form-email {
    grid-column: 2/2;
  }
}

.wp-block-post-comments-form .required {
  color: var(--wp--preset--color--negative-contrast);
}

.wp-block-post-comments-form input:not([type=submit]):not([type=checkbox]),
.wp-block-post-comments-form textarea {
  padding: var(--wp--preset--spacing--minus-2);
}

.wp-block-post-comments-form.is-style-icons .comment-form-comment label,
.wp-block-post-comments-form.is-style-icons .comment-form-author label,
.wp-block-post-comments-form.is-style-icons .comment-form-email label,
.wp-block-post-comments-form.is-style-icons .comment-form-url label {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--minus-3);
  align-items: center;
}
.wp-block-post-comments-form.is-style-icons .comment-form-comment label::before,
.wp-block-post-comments-form.is-style-icons .comment-form-author label::before,
.wp-block-post-comments-form.is-style-icons .comment-form-email label::before,
.wp-block-post-comments-form.is-style-icons .comment-form-url label::before {
  content: "";
  -webkit-mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-240v-640h800v800L720-240H80Z\"/></svg>");
          mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-240v-640h800v800L720-240H80Z\"/></svg>");
  -webkit-mask-size: cover;
          mask-size: cover;
  background: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.wp-block-post-comments-form.is-style-icons .comment-form-author label::before {
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z\"/></svg>");
          mask-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z\"/></svg>");
}
.wp-block-post-comments-form.is-style-icons .comment-form-email label::before {
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M80-160v-640h800v640H80Zm400-280 320-200v-80L480-520 160-720v80l320 200Z\"/></svg>");
          mask-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M80-160v-640h800v640H80Zm400-280 320-200v-80L480-520 160-720v80l320 200Z\"/></svg>");
}
.wp-block-post-comments-form.is-style-icons .comment-form-url label::before {
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M440-280H280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h160v80H280q-50 0-85 35t-35 85q0 50 35 85t85 35h160v80ZM320-440v-80h320v80H320Zm200 160v-80h160q50 0 85-35t35-85q0-50-35-85t-85-35H520v-80h160q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H520Z\"/></svg>");
          mask-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24\" viewBox=\"0 -960 960 960\" width=\"24\"><path d=\"M440-280H280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h160v80H280q-50 0-85 35t-35 85q0 50 35 85t85 35h160v80ZM320-440v-80h320v80H320Zm200 160v-80h160q50 0 85-35t35-85q0-50-35-85t-85-35H520v-80h160q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H520Z\"/></svg>");
}

/*# sourceMappingURL=post-comments-form.css.map*/