/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/scss/blocks/core/search.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.wp-block-search__inside-wrapper {
  margin-top: 0;
}

.has-text-color .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.has-text-color .wp-block-search .wp-block-search__input {
  color: currentColor;
  background: transparent;
  border-color: currentColor;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__button {
  padding: 0.25rem 0.75rem;
}

.wp-block-search.is-style-icon .wp-block-search__label {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--minus-3);
  align-items: center;
}
.wp-block-search.is-style-icon .wp-block-search__label::before {
  content: "";
  -webkit-mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"%23000000\"><path d=\"M0 0h24v24H0V0z\" fill=\"none\"/><path d=\"M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z\"/></svg>");
          mask: no-repeat 50% 50% url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"%23000000\"><path d=\"M0 0h24v24H0V0z\" fill=\"none\"/><path d=\"M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z\"/></svg>");
  -webkit-mask-size: cover;
          mask-size: cover;
  background: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.wp-block-search.is-style-icon .wp-block-search__label::before {
  transform: scaleX(-1);
}

.wp-block-search.is-style-sm {
  font-size: var(--wp--preset--font-size--sm);
}
.wp-block-search.is-style-sm.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.wp-block-search.is-style-sm .wp-block-search__input {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  line-height: 1;
}
.wp-block-search.is-style-sm.wp-block-search__button-inside .wp-block-search__input {
  padding: 0;
}
.wp-block-search.is-style-sm .wp-block-search__button {
  font-size: inherit;
  padding: 0.25rem 0.75rem;
}

/*# sourceMappingURL=search.css.map*/