/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/scss/blocks/core/separator.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
hr.wp-block-separator:is(.is-style-dashed,
.is-style-dotted,
.is-style-double) {
  border-width: var(--wp--preset--spacing--minus-3) 0 0;
  background-color: transparent !important;
}

hr.wp-block-separator.is-style-dashed {
  border-style: dashed;
}

hr.wp-block-separator.is-style-dotted {
  border-style: dotted;
}

hr.wp-block-separator.is-style-double {
  border-width: var(--wp--preset--spacing--minus-2) 0 0;
  border-style: double;
}

hr.wp-block-separator.is-style-hand-drawn {
  margin-bottom: -20px !important;
  padding: var(--wp--preset--spacing--40);
  border-width: var(--wp--preset--spacing--minus-2) 0 0;
  border-radius: 255px 15px 0 0/15px 4px 0 0 !important;
}
hr.wp-block-separator.is-style-hand-drawn:where(:not([class*=has-icon])) {
  background: none !important;
}

hr.wp-block-separator[class*=has-icon] {
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  overflow: visible;
  background-color: transparent !important;
  background-repeat: repeat-x !important;
  background-position: 0% 50% !important;
  background-size: 100% 2px !important;
  background-image: linear-gradient(90deg, currentColor, currentColor);
}
hr.wp-block-separator[class*=has-icon]::before {
  content: var(--hr-icon, "❦");
  padding: 0 0.5em;
  font-size: var(--wp--preset--font-size--xl);
  line-height: 1;
  background-color: var(--color-base, var(--wp--preset--color--base));
}
:where(.has-background[class*=-background-color]) hr.wp-block-separator[class*=has-icon], :where(.has-background[class*=-background-color]) hr.wp-block-separator[class*=has-icon]::before {
  background-color: inherit !important;
}
hr.wp-block-separator[class*=has-icon].is-style-wide {
  background-size: 100% var(--wp--preset--spacing--minus-2) !important;
}
hr.wp-block-separator[class*=has-icon].is-style-dashed {
  background-repeat: space no-repeat !important;
  background-size: 15% 2px !important;
}
hr.wp-block-separator[class*=has-icon].is-style-dotted {
  background-repeat: space no-repeat !important;
  background-size: 2.2% 2px !important;
}
hr.wp-block-separator[class*=has-icon].is-style-double {
  background-repeat: space !important;
  background-size: 100% 34% !important;
}
hr.wp-block-separator[class*=has-icon].is-style-hand-drawn {
  background-position-y: top !important;
  background-size: 100% 6px !important;
}

.has-icon-❦ {
  --hr-icon: "❦";
}

.has-icon-🌼 {
  --hr-icon: "🌼";
}

.has-icon-☀️ {
  --hr-icon: "☀️";
}

.has-icon-🪶 {
  --hr-icon: "🪶";
}

.has-icon-🔥 {
  --hr-icon: "🔥";
}

.has-icon-🍃 {
  --hr-icon: "🍃";
}

.has-icon-☕ {
  --hr-icon: "☕";
}

.has-icon-🍻 {
  --hr-icon: "🍻";
}

.has-icon-🪷 {
  --hr-icon: "🪷";
}

.has-icon-🫠 {
  --hr-icon: "🫠";
}

.has-icon-🎸 {
  --hr-icon: "🎸";
}

.has-icon-✏️ {
  --hr-icon: "✏️";
}

.has-icon-🚀 {
  --hr-icon: "🚀";
}

.has-icon-☘️ {
  --hr-icon: "☘️";
}

.has-icon-⭐ {
  --hr-icon: "⭐";
}

.has-icon-🌻 {
  --hr-icon: "🌻";
}

.has-icon-⛱️ {
  --hr-icon: "⛱️";
}

/*# sourceMappingURL=separator.css.map*/