

[class*=x3p0-color-variations-button-]:not( :first-child ) {
	margin-top: 8px;
}

[class*=x3p0-color-variations-button-] .components-menu-item__item {
	padding-right: 0 !important;
	min-width: 208px;
}

[class*=x3p0-color-variations-button-] .component-color-indicator {
	//outline: 1px solid rgba( 255, 255, 255, 0.25 );
}

.x3p0-list-marker-list {
	padding-left: 1em;

	li {
		list-style-type: initial;
		padding-left: 8px;
		color: inherit;

		&::marker {
			color: inherit;
		}
	}

	.x3p0-marker-disc {    list-style-type: disc;    }
	.x3p0-marker-circle {  list-style-type: circle;  }
	.x3p0-marker-square {  list-style-type: square;  }
	.x3p0-marker-arrow::marker { content: "\2192\20"; }
	.x3p0-marker-dash::marker { content: "\2013\20"; }

	.x3p0-marker-decimal::marker { content: "0." }
	.x3p0-marker-decimal-leading-zero::marker { content: "00." }
}

.x3p0-text-shadow-control {
	grid-column: 1 / -1;
}
