////
/// Primary theme stylesheet, which is used for both the front end and the
/// editor. Note that it is named `screen.scss` instead of `style.scss` because
/// `wp-scripts` renames that file to `style-index.scss`. But, it's also an
/// easy way to differentiate it from `print.scss`, which I'll totally add one
/// day. I promise.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// Base/Defaults.
@use 'base/var.scss';
@use 'base/root.scss';
@use 'base/inline.scss';
@use 'base/forms.scss';

// Utilities.
@use 'utilities/color-variation.scss';
@use 'utilities/helpers.scss';
@use 'utilities/lightbox.scss';
@use 'utilities/list-markers.scss';
@use 'utilities/rich-text.scss';
@use 'utilities/text-shadow.scss';
@use 'utilities/typography.scss';
