////
/// Styling for the embedded post.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

///
/// Embed wrapper.
///
.wp-embed {
	color:      var(--wp--custom--colour--foreground--primary);
	background: var(--wp--custom--colour--background--level-0);
}

///
/// Links in the embed.
///
.wp-embed a {
	color: var(--wp--custom--elements--link--secondary--colour--foreground);

	&:hover,
	&:focus {
		text-decoration: underline;
		color: var(--wp--custom--elements--link--secondary--hover--colour--foreground);

		> svg { fill: currentColor; }
	}
}
