////
/// Root element styling for the embed.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

html { font-size: 16px; }

.wp-embed-responsive .wp-embed,
.wp-embed-responsive .wp-embed-share-dialog {
	overflow: hidden;
	padding: 0;
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
	border: var(--border-width) var(--border-style) var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}
