////
/// Element styles. This is primarily to cover the elements that are not
/// supported via `theme.json` or custom CSS that is not a part of the
/// `theme.json` schema.
///
/// Much of the work in this file connects elements with `theme.json` by making
/// use of the `settings.custom` key. Unfortunately, this means more CSS than
/// would normally be necessary. However, it is the only way to cleanly support
/// style changes via custom style variations.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

///
/// Avoid orphans on paragraphs and headings
///
p,
:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: pretty;
}

///
/// Adds transition effects to hoverable and focusable elements.
///
a:where(:not(:focus)),
button,
input[type=reset],
input[type=submit],
input:focus,
textarea:focus {
	transition: 0.5s ease-in-out;
	transition-property:
		color,
		background-color,
		border-color,
		outline-color;
}

///
/// Link customizations that are not fully supported through `theme.json`.
///
a {
	// The `!important` is necessary to overrule the shorthand version
	// `text-decoration` used via `theme.json`.
	text-underline-offset: 0.078125em !important;
	text-decoration-thickness: min(0.078125em, 3px) !important;

	// Transition the box shadow for linked images.
	img {
		transition: box-shadow 0.5s ease-in-out;
	}

	&:hover img:where(:not(.avatar)) {
		box-shadow: var(--wp--custom--shadow--primary--hover);
	}

	.is-style-borderless &:focus {
		outline: none;
	}
}

///
/// Ensure audio/video elements are set to block-level.
///
audio,
video {
	display: block;
}

///
/// Abbreviation styles.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
abbr[title] {
	cursor: help;
	text-decoration: currentColor underline dotted min(0.078125em, 3px);
	text-underline-offset: 0.078125em;
}

///
/// Caption styles.
///
.wp-element-caption a {
	// WordPress targets links for Image blocks with `width: 100%` (when
	// wide/full) and `display: inline-block`. This breaks links in captions.
	// This change ensures that this and other cases are covered.
	display: inline;
	width:   initial;

	// Add colors for links within captions.
	color: var(--wp--custom--color--text--link--secondary--default);

	&:hover,
	&:focus {
		color: var(--wp--custom--color--text--link--secondary--hover);
	}
}

///
/// Citation styles.
///
blockquote cite {
	// Prefix `cite` elements (WP doesn't support element CSS in `theme.json`).
	&::before {
		content: "\2013\000A0";
	}

	// Add colors for links within block quote citations.
	a {
		color: var(--wp--custom--color--text--link--secondary--default);

		&:hover,
		&:focus {
			color: var(--wp--custom--color--text--link--secondary--hover);
		}
	}
}

///
/// Inline code styles.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
:where(:not(pre) > code) {
	// Spacing.
	padding: 0.125em 0.25em;

	// Typography.
	font-family: var(--wp--preset--font-family--mono, monospace);
	font-size:   clamp(var(--wp--preset--font-size--xs), 0.8125em, 0.8125em);
	font-style:  normal;
	font-weight: 600;
	line-height: inherit;

	// Color.
	color:      var(--wp--custom--color--text--default, inherit);
	background: var(--wp--custom--color--surface--level-1, transparent);

	// Border and shadow.
	border:     none;
	box-shadow: none;
}

///
/// Delete and strikethrough styles.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
del,
s {
	color: var(--wp--custom--color--text--muted, inherit);
	text-decoration:
		var(--wp--custom--color--text--default, currentColor)
		line-through
		solid
		min(0.078125em, 3px);
}

///
/// WordPress Core zeroes out the browser defaults and adds a default bottom
/// margin to figures.
///
:where(figure) {
	margin: 0;
}

///
/// WordPress has several image-type blocks, but it doesn't support the image
/// element itself via `theme.json`.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
img:where(:not(.avatar)) {
	border-color: var(--wp--custom--elements--img--border-color, transparent);
	border-style: var(--wp--custom--elements--img--border-style, solid);
	border-width: var(--wp--custom--elements--img--border-width, 0);
	box-shadow:   var(--wp--custom--elements--img--shadow, none);
}

///
/// Insert styles.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
ins {
	color: inherit;
	text-decoration: currentColor underline solid clamp(2px, 0.125em, 0.125em);
	text-underline-offset: 4px;
}

///
/// Keyboard input styles.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
kbd {
	white-space: nowrap;

	// Spacing.
	padding: 0.125em 0.375em;

	// Typography.
	font-family: var(--wp--preset--font-family--mono, monospace);
	font-size: clamp(var(--wp--preset--font-size--xs), 0.8125em, 0.8125em);
	font-style:  normal;
	font-weight: 500;
	line-height: inherit;

	// Color.
	color:      inherit;
	background: transparent;

	// Border and shadow.
	border-color:  var(--wp--custom--color--border--default);
	border-style:  solid;
	border-width:  1px;
	border-radius: 0.25rem;
	box-shadow:    var(--wp--preset--shadow--sm, none);
}

///
/// Adds a list item marker color.
///
li::marker {
	color: var(--wp--custom--color--icon--muted, currentColor);
}

///
/// Spacing for all `<mark>` elements, including WP's "highlight".
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
mark {
	padding: 0.125em 0.25em;

	// Style `<mark>` elements but avoid WP's "highlight" rich text element.
	&:where(:not(.has-inline-color):not([style])) {
		color:      var(--wp--custom--color--text--on-primary, currentColor);
		background: var(--wp--custom--color--surface--primary, transparent);
	}
}

///
/// Bump the line-height when using `<mark>` in a heading and remove padding.
///
:where(h1, h2, h3, h4, h5 h6) > mark {
	line-height: 1.625em;
	padding: 0;
}

///
/// Superscript and subscript styles.
///
/// @link https://github.com/WordPress/gutenberg/issues/64362
///
sup,
sub {
	font-size:   0.8125em;
	line-height: 0; // Don't mess up line-height of parent.

	// Text decoration doesn't really work well for most cases here, such as
	// single-character footnotes. It can overpower the link itself.
	a {
		text-decoration: none;
		outline: none;
	}
}
