////
/// Forms.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../tools/form';

// -----------------------------------------------------------------------------
// Label elements.
// -----------------------------------------------------------------------------

label {
	@include form.label();
}

// -----------------------------------------------------------------------------
// Input placeholder text.
// -----------------------------------------------------------------------------

::placeholder {
	@include form.placeholder();
}

// -----------------------------------------------------------------------------
// Form elements.
// -----------------------------------------------------------------------------

// Adds form element styles, which aren't yet supported in `theme.json`.
input:where(:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset])),
select,
textarea {
	@include form.input();
}

select {
	@include form.select();
}

input[type="checkbox"],
input[type="radio"] {
	@include form.checkable();
}

input[type="submit"] {
	cursor: pointer;
}
