////
/// Root-level CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// Custom colors for selecting text in the browser. Can be set in `theme.json`
// via `custom.global.::selectionColor` and `custom.global.::selectionBackground`.
::selection {
	color: var(--wp--custom--global--selection-color);
	background: var(--wp--custom--global--selection-background);
}

// WordPress has no standard method of controlling the gap between blocks at the
// top level of the site other than wrapping the site in yet-another-div. This
// gives us an easy to either wipe out or customize the gap via
// `custom.siteBlocks.gap` in `theme.json`.
.wp-site-blocks > * {
	margin-top: var(--wp--custom--site-blocks--gap, var(--wp--style--block-gap));
}
