////
/// Gradient utility classes.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

[class*=gradient-] img {
	padding: clamp( 0.5rem, -0.33333333333333326rem + 2.083333333333333cqi, 1rem );
}

.wp-block-avatar[class*=gradient-] img {
	padding: min( 6px, 8.33% );
	background-image: var( --gradient );
}

// We must manually add supported gradients until we can register inline styles
// for the iframed editor.
// @link https://github.com/WordPress/gutenberg/issues/18571
$gradients:
	vivid-cyan-blue-to-vivid-purple,
	light-green-cyan-to-vivid-green-cyan,
	luminous-vivid-amber-to-luminous-vivid-orange,
	luminous-vivid-orange-to-vivid-red,
	very-light-gray-to-cyan-bluish-gray,
	cool-to-warm-spectrum,
	blush-light-purple,
	blush-bordeaux,
	luminous-dusk,
	pale-ocean,
	electric-grass,
	midnight,
	emerald,
	eternal-constance,
	fabled-sunset,
	magic-lake,
	mohave,
	near-moon,
	oahu,
	powerpuff,
	rocket-power,
	seashore,
	shy-rainbow,
	sky-sea,
	solid-stone,
	superman,
	true-sunset,
	violet-jaguar,
	white-rainbow,
	winter-neva;

@each $gradient in $gradients {
	.gradient-#{ $gradient } {
		--gradient: var( --wp--preset--gradient--#{ $gradient } );
	}
}
