
.has-color-var-info {
	--color-base: var( --wp--preset--color--info-base );
	--color-subtle: var( --wp--preset--color--info-subtle );
	--color-muted: var( --wp--preset--color--info-muted );
	--color-contrast: var( --wp--preset--color--info-contrast );
	--color-emphasis: var( --wp--preset--color--info-emphasis );
/*
	padding: var( --wp--style--block-gap );
	color: var( --wp--preset--color--info-contrast );
	background: var( --wp--preset--color--info-base );
	border: 1px solid var( --wp--preset--color--info-subtle );

	li::marker {
		color: var( --wp--preset--color--info-muted );
	}

	a {
		color: var( --wp--preset--color--info-emphasis );
	}

	:where( :not( pre ) > code ) {
		color: var( --wp--preset--color--info-emphasis );
		background: var( --wp--preset--color--info-subtle );
	}

	kbd {
		color: var( --wp--preset--color--contrast );
		border-color: var( --wp--preset--color--info-muted );
	}

	ins {
		color: var( --wp--preset--color--info-emphasis );
		background: var( --wp--preset--color--info-subtle );
		border-color: var( --wp--preset--color--info-contrast );
	}

	mark:where( :not( .has-inline-color ):not( [style] ) ) {
		color: var( --wp--preset--color--info-emphasis );
		background: var( --wp--preset--color--info-subtle );
	}

	del,
	s {
		color: var( --wp--preset--color--info-muted );
		text-decoration-color: var( --wp--preset--color--info-contrast );
	}
	*/
}
