
.has-color-var-primary {
	--color-base: var( --wp--preset--color--primary-base );
	--color-subtle: var( --wp--preset--color--primary-subtle );
	--color-muted: var( --wp--preset--color--primary-muted );
	--color-contrast: var( --wp--preset--color--primary-contrast );
	--color-emphasis: var( --wp--preset--color--primary-emphasis );
}
