////
/// WordPress button component. This is named `wp-element-button`, but it
/// is technically a named component.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
///

.wp-element-button {
/*	outline-offset: 0.0625em;
	transition: all 0.5s ease-in-out;
	text-underline-offset: 0.078125em !important;
	text-decoration-thickness: min( 0.078125em, 3px ) !important;*/
}
