////
/// Forms.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

label,
// `<label>` element not used in the editor.
.wp-block-search__label {
	color: var( --wp--preset--color--neutral-muted );
	font-size: var( --wp--preset--font-size--xs );
	text-transform: uppercase;
}

:where( input[type="checkbox"], input[type="radio"] ) + label,
label:has( :where( input[type="checkbox"], input[type="radio"] ) ) {
	//color: inherit;
	//font-size: inherit;
	font-size: var( --wp--preset--font-size--sm );
	text-transform: none;
}

// Adds form element styles, which aren't yet supported in `theme.json`.
input,
select,
textarea,
:where( .wp-block-search__button-inside .wp-block-search__inside-wrapper ),
.wp-block-search__input,
.wp-block-post-comments-form :is( input:not( .wp-element-button ), textarea ) {
	padding: var( --wp--preset--spacing--minus-3 ) var( --wp--preset--spacing--minus-1 );
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	line-height: inherit;
	color: var( --color-emphasis, var( --wp--custom--elements--form-input--color, inherit ) );
	background: var( --color-subtle, var( --wp--custom--elements--form-input--background, transparent ) );
	border: var( --wp--custom--elements--form-input--border-width, 1px )
		var( --wp--custom--elements--form-input--border-width, solid )
		var( --color-muted, var( --wp--custom--elements--form-input--border-color, none ) );
	border-radius: var( --wp--custom--defaults--border-radius );
	box-shadow: var( --wp--custom--defaults--shadow );

	&:focus {
		outline: 2px solid var( --wp--preset--color--primary-contrast );
		outline-offset: 2px;
	}
}

::placeholder {
	color: inherit;
	opacity: 0.5;
}

:where( .wp-block-search__button-inside .wp-block-search__inside-wrapper ) {
	padding: var( --wp--preset--spacing--minus-3 );
	padding-left: var( --wp--preset--spacing--minus-1 );

	&:has( .wp-block-search__input:focus ) {
		outline: 2px solid var( --wp--preset--color--primary-contrast );
		outline-offset: 2px;
	}
}

input[type="checkbox"],
input[type="radio"],
.wp-block-search__button-inside .wp-block-search__input {
	padding: 0;
	border: none;
	box-shadow: none;

	&:focus {
		outline: none;
	}
}

input[type="submit"] {
	cursor: pointer;
}
