<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"x3p0-ideas/breadcrumbs"} /-->

<!-- wp:group {"metadata":{"name":"Site Content"},"tagName":"main","style":{"spacing":{"blockGap":"0"}},"className":"site-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content">
	<!-- wp:pattern {"@unless":"is_paged","slug":"x3p0-ideas/hero-adventurer"} /-->
	<!-- wp:template-part {"slug":"loop","align":"full","className":"loop"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
