<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0">

	<!-- wp:template-part {"slug":"header","theme":"x3p0-ideas","tagName":"header"} /-->

	<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
	<main class="wp-block-group">
		<!-- wp:pattern {"slug":"x3p0-ideas/hero-adventurer"} /-->
		<!-- wp:pattern {"slug":"x3p0-ideas/post-grid-default"} /-->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"x3p0-ideas","tagName":"footer"} /-->

</div>
<!-- /wp:group -->
