<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0">

	<!-- wp:template-part {"slug":"header","theme":"x3p0-ideas","tagName":"header"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
	<main class="wp-block-group">

		<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","right":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|80"},"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)">
			<!-- wp:query-title {"type":"search"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:pattern {"slug":"x3p0-ideas/post-list-default"} /-->

	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"x3p0-ideas","tagName":"footer"} /-->

</div>
<!-- /wp:group -->
