<!-- wp:group {
	"backgroundColor":"black",
	"layout":{"type":"default"}
} -->
<div class="wp-block-group has-black-background-color has-background">

	<!-- wp:cover {
		"useFeaturedImage":true,
		"hasParallax":true,
		"dimRatio":50,
		"isUserOverlayColor":true,
		"minHeightUnit":"vh",
		"isDark":true,
		"style":{
			"spacing":{
				"padding":{
					"top":"0",
					"right":"0",
					"bottom":"0",
					"left":"0"
				}
			}
		},
		"className":"is-style-stretch",
		"layout":{"type":"default"}
	} -->
	<div class="wp-block-cover has-parallax is-style-stretch" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

		<span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span>
		<div class="wp-block-cover__inner-container">

			<!-- wp:template-part {
				"slug":"header-overlay",
				"className":"site-header site-header-overlay"
			} /-->

			<!-- wp:spacer {"height":"var:preset|spacing|plus-7"} -->
			<div style="height:var(--wp--preset--spacing--plus-7)" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {
				"metadata":{"name":"Post Header"},
				"style":{
					"spacing":{
						"blockGap":"var:preset|spacing|base",
						"padding":{
							"top":"var:preset|spacing|plus-3",
							"right":"var:preset|spacing|plus-3",
							"bottom":"var:preset|spacing|plus-5",
							"left":"var:preset|spacing|plus-3"
						}
					}
				},
				"layout":{
					"type":"flex",
					"orientation":"vertical",
					"justifyContent":"center"
				}
			} -->
			<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--plus-3);padding-right:var(--wp--preset--spacing--plus-3);padding-bottom:var(--wp--preset--spacing--plus-5);padding-left:var(--wp--preset--spacing--plus-3)">
				<!-- wp:post-title {"textAlign":"center","level":1} /-->
			</div>
			<!-- /wp:group -->

		</div>

	</div>
	<!-- /wp:cover -->

</div>
<!-- /wp:group -->

<!-- wp:group {
	"tagName":"main",
	"metadata":{"name":"Content"},
	"style":{
		"spacing":{
			"blockGap":"0"
		}
	},
	"layout":{"type":"default"}
} -->
<main class="wp-block-group">

	<!-- wp:group {
		"tagName":"article",
		"metadata":{"name":"Post"},
		"style":{
			"spacing":{
				"padding":{
					"top":"var:preset|spacing|plus-5",
					"bottom":"var:preset|spacing|plus-3"
				}
			}
		},
		"layout":{"type":"default"}
	} -->
	<article class="wp-block-group" style="padding-top:var(--wp--preset--spacing--plus-5);padding-bottom:var(--wp--preset--spacing--plus-3)">

		<!-- wp:post-content {
			"layout":{"type":"constrained"},
			"className":"is-style-prose"
		} /-->

	</article>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"is-style-site-footer"} /-->
