<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"dimRatio":50,"overlayColor":"contrast","minHeightUnit":"vh","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"className":"is-style-stretch","layout":{"type":"default"}} -->
<div class="wp-block-cover has-parallax is-style-stretch" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span>

	<div class="wp-block-cover__inner-container">
		<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

		<!-- wp:spacer {"height":"var:preset|spacing|plus-7"} -->
		<div style="height:var(--wp--preset--spacing--plus-7)" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|base","padding":{"top":"var(\u002d\u002dtheme-spacing\u002d\u002dplus-3)","right":"var(\u002d\u002dtheme-spacing\u002d\u002dplus-3)","bottom":"var:preset|spacing|plus-5","left":"var(\u002d\u002dtheme-spacing\u002d\u002dplus-3)"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group" style="padding-top:var(--theme-spacing--plus-3);padding-right:var(--theme-spacing--plus-3);padding-bottom:var(--wp--preset--spacing--plus-5);padding-left:var(--theme-spacing--plus-3)">
			<!-- wp:post-title {"textAlign":"center","level":1} /-->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"},"fontFamily":"tertiary"} -->
			<div class="wp-block-group has-tertiary-font-family">
				<!-- wp:post-date /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
</div>
<!-- /wp:cover -->

<!-- wp:pattern {"slug":"x3p0-ideas/breadcrumbs"} /-->

<!-- wp:group {"metadata":{"name":"Site Content"},"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|plus-5","bottom":"var:preset|spacing|plus-3"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--plus-5);padding-bottom:var(--wp--preset--spacing--plus-3)">

	<!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
	<article class="wp-block-group">

		<!-- wp:post-content {"layout":{"type":"constrained"},"className":"is-style-prose"} /-->

		<!-- wp:group {"tagName":"footer","layout":{"type":"constrained"},"fontFamily":"tertiary"} -->
		<footer class="wp-block-group has-tertiary-font-family">
			<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:post-terms {"term":"category","className":"is-style-icon"} /-->
				<!-- wp:post-terms {"term":"post_tag","className":"is-style-icon"} /-->
			</div>
			<!-- /wp:group -->
		</footer>
		<!-- /wp:group -->

	</article>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments","tagName":"section","align":"full"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
