<!-- wp:group {"metadata":{"name":"Site"},"style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"className":"site","layout":{"type":"default"}} -->
<div class="wp-block-group site" style="margin-top:0">

	<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->


	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"contrast","align":"full","layout":{"type":"constrained"}} -->
	<div class="wp-block-cover alignfull"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"tagName":"header","align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|base"}},"layout":{"type":"default"}} -->
		<header class="wp-block-group alignfull"><!-- wp:post-title {"textAlign":"center","level":1} /-->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
		<div class="wp-block-group"><!-- wp:post-date {"textAlign":"left"} /--></div>
		<!-- /wp:group --></header>
		<!-- /wp:group --></div></div>
		<!-- /wp:cover -->

		<!-- wp:pattern {"slug":"x3p0-ideas/breadcrumbs"} /-->


	<!-- wp:group {"metadata":{"name":"Site Content"},"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|plus-3","bottom":"var:preset|spacing|plus-3"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--plus-3);padding-bottom:var(--wp--preset--spacing--plus-3)">

<!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
<article class="wp-block-group">

	<!-- wp:post-content {"layout":{"type":"constrained"},"className":"is-style-prose"} /-->

	<!-- wp:group {"tagName":"footer","layout":{"type":"constrained"},"fontFamily":"tertiary"} -->
	<footer class="wp-block-group has-tertiary-font-family"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-terms {"term":"category","className":"is-style-icon"} /-->

	<!-- wp:post-terms {"term":"post_tag","className":"is-style-icon"} /--></div>
	<!-- /wp:group --></footer>
	<!-- /wp:group --></article>
	<!-- /wp:group -->

		<!-- wp:template-part {"slug":"comments","tagName":"section","align":"full"} /-->

	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

</div>
<!-- /wp:group -->
