<!-- wp:template-part {"slug":"header","className":"is-style-site-header"} /-->

<!-- wp:group {
	"tagName":"main",
	"metadata":{"name":"Content"},
	"style":{
		"spacing":{
			"blockGap":"0"
		}
	},
	"layout":{"type":"default"}
} -->
<main class="wp-block-group">

	<!-- wp:group {
		"tagName":"article",
		"metadata":{"name":"Post"},
		"style":{
			"spacing":{
				"padding":{
					"top":"0px",
					"bottom":"var:preset|spacing|70"
				}
			}
		},
		"layout":{"type":"default"}
	} -->
	<article class="wp-block-group" style="padding-top:0px;padding-bottom:var(--wp--preset--spacing--70)">

		<!-- wp:cover {
			"useFeaturedImage":true,
			"dimRatio":0,
			"overlayColor":"contrast",
			"isUserOverlayColor":true,
			"minHeight":36,
			"minHeightUnit":"rem",
			"contentPosition":"bottom center",
			"isDark":false,
			"tagName":"header",
			"metadata":{"name":"Post Header"},
			"style":{
				"spacing":{
					"padding":{
						"top":"var:preset|spacing|120",
						"bottom":"0",
						"right":"0",
						"left":"0"
					}
				}
			},
			"layout":{"type":"constrained"}
		} -->
		<header class="wp-block-cover is-light has-custom-content-position is-position-bottom-center" style="padding-top:var(--wp--preset--spacing--120);padding-right:0;padding-bottom:0;padding-left:0;min-height:36rem">

			<span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-0 has-background-dim"></span>
			<div class="wp-block-cover__inner-container">

				<!-- wp:group {
					"align":"wide",
					"style":{
						"spacing":{
							"padding":{
								"top":"var:preset|spacing|70",
								"left":"var:preset|spacing|70",
								"right":"var:preset|spacing|70"
							}
						}
					},
					"textColor":"contrast",
					"gradient":"180-deg-transparent-base",
					"layout":{
						"type":"flex",
						"orientation":"vertical",
						"justifyContent":"stretch",
						"verticalAlignment":"bottom"
					}
				} -->
				<div class="wp-block-group alignwide has-contrast-color has-180-deg-transparent-base-gradient-background has-text-color has-background" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">

					<!-- wp:spacer {"height":"var:preset|spacing|70"} -->
					<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->

					<!-- wp:group {
						"style":{
							"spacing":{
								"blockGap":"var:preset|spacing|40"
							}
						},
						"layout":{"type":"constrained"}
					} -->
					<div class="wp-block-group">
						<!-- wp:post-title {"level":1,"className":"is-style-text-headline"} /-->
						<!-- wp:pattern {"slug":"x3p0-ideas/post-byline-default"} /-->
					</div>
					<!-- /wp:group -->

				</div>
				<!-- /wp:group -->

			</div>

		</header>
		<!-- /wp:cover -->

		<!-- wp:group {
			"align":"full",
			"gradient":"180-deg-base-transparent",
			"layout":{"type":"default"}
		} -->
		<div class="wp-block-group alignfull has-180-deg-base-transparent-gradient-background has-background">

			<!-- wp:post-content {
				"className":"is-style-prose",
				"layout":{"type":"constrained"}
			} /-->

			<!-- wp:pattern {"slug":"x3p0-ideas/post-meta-default"} /-->

		</div>
		<!-- /wp:group -->

	</article>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"is-style-site-footer"} /-->
