<!-- wp:template-part {"slug":"header","className":"is-style-site-header"} /-->

<!-- wp:group {
	"tagName":"main",
	"metadata":{"name":"Content"},
	"style":{
		"spacing":{
			"blockGap":"0"
		}
	},
	"layout":{"type":"default"}
} -->
<main class="wp-block-group">

	<!-- wp:group {
		"tagName":"article",
		"metadata":{"name":"Post"},
		"style":{
			"spacing":{
				"padding":{
					"top":"var:preset|spacing|70",
					"bottom":"var:preset|spacing|70"
				}
			}
		},
		"layout":{"type":"default"}
	} -->
	<article class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">

		<!-- wp:group {
			"tagName":"header",
			"metadata":{"name":"Post Header"},
			"style":{
				"spacing":{
					"padding":{
						"right":"var:preset|spacing|70",
						"left":"var:preset|spacing|70"
					}
				}
			},
			"layout":{"type":"default"}
		} -->
		<header class="wp-block-group" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">

			<!-- wp:cover {
				"useFeaturedImage":true,
				"isUserOverlayColor":true,
				"minHeightUnit":"rem",
				"gradient":"45-deg-dark-transparent",
				"contentPosition":"bottom left",
				"style":{
					"spacing":{
						"padding":{
							"top":"var:preset|spacing|90",
							"bottom":"var:preset|spacing|90",
							"left":"var:preset|spacing|90",
							"right":"var:preset|spacing|90"
						}
					},
					"elements":{
						"link":{
							"color":{
								"text":"var:preset|color|white"
							}
						}
					}
				},
				"textColor":"white",
				"className":"is-style-global-border",
				"layout":{"type":"constrained"}
			} -->
			<div class="wp-block-cover is-style-global-border has-custom-content-position is-position-bottom-left has-white-color has-link-color has-text-color" style="padding-top:var(--wp--preset--spacing--90);padding-right:var(--wp--preset--spacing--90);padding-bottom:var(--wp--preset--spacing--90);padding-left:var(--wp--preset--spacing--90)">

				<span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient has-45-deg-dark-transparent-gradient-background"></span>
				<div class="wp-block-cover__inner-container">

					<!-- wp:spacer {"height":"var:preset|spacing|120"} -->
					<div style="height:var(--wp--preset--spacing--120)" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->

					<!-- wp:group {"metadata":{"name":"Post Header"},"style":{"spacing":{"blockGap":"var:preset|spacing|40"},"dimensions":{"minHeight":""}},"layout":{"type":"default"}} -->
					<div class="wp-block-group">
						<!-- wp:post-title {"level":1,"className":"is-style-text-headline"} /-->
						<!-- wp:pattern {"slug":"x3p0-ideas/post-byline-default"} /-->
					</div>
					<!-- /wp:group -->

				</div>

			</div>
			<!-- /wp:cover -->

		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {
			"layout":{"type":"constrained"},
			"className":"is-style-prose"
		} /-->

		<!-- wp:pattern {"slug":"x3p0-ideas/post-meta-default"} /-->

	</article>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"is-style-site-footer"} /-->
