<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {
	"tagName":"main",
	"metadata":{"name":"Content"},
	"style":{
		"spacing":{
			"padding":{
				"bottom":"var:preset|spacing|plus-3"
			}
		}
	},
	"layout":{"type":"default"}
} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--plus-3)">

	<!-- wp:group {
		"tagName":"article",
		"metadata":{"name":"Post"},
		"layout":{"type":"default"}
	} -->
	<article class="wp-block-group">

		<!-- wp:cover {
			"tagName":"header",
			"metadata":{"name":"Post Header"},
			"useFeaturedImage":true,
			"isUserOverlayColor":true,
			"minHeightUnit":"rem",
			"gradient":"45-deg-dark-transparent",
			"contentPosition":"bottom left",
			"style":{
				"spacing":{
					"padding":{
						"top":"var:preset|spacing|plus-5",
						"bottom":"var:preset|spacing|plus-5",
						"left":"var:preset|spacing|plus-5",
						"right":"var:preset|spacing|plus-5"
					}
				},
				"elements":{
					"link":{
						"color":{
							"text":"var:preset|color|white"
						}
					}
				}
			},
			"textColor":"white",
			"layout":{"type":"constrained"}
		} -->
		<header class="wp-block-cover has-custom-content-position is-position-bottom-left has-white-color has-link-color has-text-color" style="padding-top:var(--wp--preset--spacing--plus-5);padding-right:var(--wp--preset--spacing--plus-5);padding-bottom:var(--wp--preset--spacing--plus-5);padding-left:var(--wp--preset--spacing--plus-5)">

			<span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient has-45-deg-dark-transparent-gradient-background"></span>
			<div class="wp-block-cover__inner-container">

				<!-- wp:spacer {"height":"var:preset|spacing|plus-8"} -->
				<div style="height:var(--wp--preset--spacing--plus-8)" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->

				<!-- wp:group {"metadata":{"name":"Post Header"},"style":{"spacing":{"blockGap":"var:preset|spacing|base"},"dimensions":{"minHeight":""}},"layout":{"type":"default"}} -->
				<div class="wp-block-group">
					<!-- wp:post-title {"level":1} /-->
					<!-- wp:pattern {"slug":"x3p0-ideas/post-byline"} /-->
				</div>
				<!-- /wp:group -->

			</div>

		</header>
		<!-- /wp:cover -->

		<!-- wp:post-content {
			"layout":{"type":"constrained"},
			"className":"is-style-prose"
		} /-->

		<!-- wp:pattern {"slug":"x3p0-ideas/post-meta"} /-->

	</article>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"site-footer"} /-->
