
// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// 🤮
.wp-block-code code {
	overflow: auto;
	word-wrap: normal;
	white-space: revert;
}
