
// -----------------------------------------------------------------------------
// Block style customizations.
// -----------------------------------------------------------------------------

@media ( max-width: 40rem ) {
	.wp-block-post-template :where(
		.wp-block-post-featured-image[style*="16/9"],
		.wp-block-post-featured-image[style*="16 / 9"]
	 ) {
		aspect-ratio: 4/3 !important;
	}
}

@media ( max-width: 56rem ) {
	.wp-block-post-template-is-layout-grid :where(
		.wp-block-post-featured-image[style*="16/9"],
		.wp-block-post-featured-image[style*="16 / 9"]
	 ) {
		aspect-ratio: 4/3 !important;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.wp-block-post-featured-image[class*=gradient-] img {
	background: var( --gradient, transparent );
}
