
// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Removes WP's default background color on the header, which cannot be
// customized via `theme.json`.
:where( .wp-block-calendar table:not( .has-background ) th ) {
	background: unset;
}

// Overwrites WP's default border-color on cells. This is hardcoded, and themes
// have no way to customize it via `theme.json`.
.wp-block-calendar table:where( :not( .has-text-color ) ) :is( td, th ) {
	border-color: var( --color-muted, var( --wp--preset--color--neutral-subtle ) );
}

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// More spacing than WP's default for cells.
.wp-block-calendar :is( td, th ) {
	padding: var( --wp--preset--spacing--30 ) var( --wp--preset--spacing--10 );
}

// Extra spacing on the caption.
:where( .wp-block-calendar caption ) {
	margin: 0 var( --wp--preset--spacing--40 ) var( --wp--preset--spacing--20 );
}

// Nicer layout for the calendar nav.
.wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	margin: var( --wp--preset--spacing--10 ) var( --wp--preset--spacing--40 ) 0;
}

// Lighten the header fonts a little.
.wp-block-calendar th {
	font-weight: 600;
}

.wp-block-calendar {
	padding: 0 2rem var( --wp--preset--spacing--40 ) 2rem;
	border: 1px solid #eee;
	border-top: 4px solid var( --color--contrast, var( --wp--preset--color--primary-contrast ) );
	box-sizing: border-box;
	background: var( --wp--preset--color--neutral-base );
}

.wp-block-calendar table caption {
	padding: 1rem 2rem;
	margin: 0 -2rem 1rem;
	font-family: var( --wp--preset--font-family--primary );
	font-weight: 300;
	font-size: var( --wp--preset--font-size--xl );
	line-height: var( --wp--custom--line-height--xl );
	background: var( --wp--preset--color--base );
}

.wp-block-calendar table thead {
	font-size: var( --wp--preset--font-size--md );
	line-height: var( --wp--custom--line-height--md );
}

.wp-block-calendar table thead :where( tr, th ),
.wp-block-calendar .pad {
	border: none;
}

.wp-block-calendar table tbody {
	border: 1px solid var( --color-muted, var( --wp--preset--color--neutral-subtle ) );
}

.wp-block-calendar table td:where( :not( .pad ) ) {
	background: var( --wp--preset--color--base );
}

.wp-calendar-nav-prev,
.wp-calendar-nav-next {
	padding: var( --wp--preset--spacing--30 ) var( --wp--preset--spacing--10 );
	font-size: var( --wp--preset--font-size--md );
	line-height: var( --wp--custom--line-height--md );
	text-transform: uppercase;
}
