////
/// Button block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

.wp-block-button__link {
	//display: flex;
}

.wp-block-button .wp-block-button__link {
	code,
	kbd {
		border-color: currentColor;
		background: transparent;
		color: inherit;
		opacity: 0.7;
		text-decoration: none;
		font-weight: 400;
		font-size: smaller;
	}

	del, s {
		opacity: 0.7;
		color: currentColor;
		text-decoration-color: currentColor;
	}

	ins {
		border: none;
		background: inherit;
		color: inherit;
		text-decoration: underline;
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.wp-block-button.is-style-hand-drawn > .wp-block-button__link.wp-element-button {
	border: 2px solid currentColor;
	box-shadow: var( --wp--custom--defaults--shadow );
	color: inherit;
	background-color: transparent;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
	font-family: var( --wp--preset--font-family--handwriting );
}

.wp-block-button.is-style-hand-drawn > .wp-block-button__link:hover,
.wp-block-button.is-style-hand-drawn > .wp-block-button__link:focus {
	background-color: transparent;
}
