////
/// Post Terms block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

@use '../02.tools/inline-icon';

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Adding a prefix/suffix means manually adding a space in the text itself. In
// many scenarios, this works fine. However, if you want to target the nested
// `*__prefix` or `*__suffix` selectors with things like an underline, background
// color, and more, the style applies to the text and the space.
//
// This addresses that by making the block a flex layout and adding a gap. This
// works regardless of whether the space was added or not.
.wp-block-post-terms {
	--wp--custom--block-gap--post-terms: var( --wp--preset--spacing--minus-3 );
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var( --wp--custom--block-gap--post-terms );

	&__separator {
		margin-left: calc( -1 * var( --wp--custom--block-gap--post-terms ) );
	}
}

// -----------------------------------------------------------------------------
// Block styles.
// -----------------------------------------------------------------------------

.wp-block-post-terms.is-style-button {
	--wp--custom--block-gap--post-terms: var( --wp--preset--spacing--minus-2 );

	font-size: var( --wp--preset--font-size--xs );
	line-height: var( --wp--custom--line-height--xs );

	.wp-block-post-terms__separator { display: none; }

	a {
		display: inline-block;
		text-decoration: none;
		padding: 0.125rem 0.25rem;
		color: var( --wp--preset--color--primary-base );
		background-color: var( --wp--preset--color--primary-contrast );
		border-radius: var( --wp--custom--defaults--border-radius );

		&:hover,
		&:focus {
			background-color: var( --wp--preset--color--primary-emphasis );
		}
	}
}

.wp-block-post-terms.is-style-icon {

	// https://fonts.google.com/icons?icon.query=folder&selected=Material+Symbols+Sharp:folder_open:FILL@1;wght@400;GRAD@0;opsz@24&icon.style=Sharp&icon.platform=web
	&::before {
		@include inline-icon.icon(
			url( 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M80-160v-640h320l80 80h400v80H160v400l96-320h684L820-160H80Z"/></svg>' )
		);
	}

	// https://fonts.google.com/icons?icon.query=tag&selected=Material+Symbols+Sharp:label:FILL@1;wght@400;GRAD@0;opsz@24&icon.style=Sharp&icon.platform=web
	&.taxonomy-post_tag::before {
		@include inline-icon.modify(
			url( 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-200v-560h522l198 280-198 280H120Z"/></svg>' )
		);
	}
}
