////
/// Query Pagination block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// Fixes WP's hard coded margin for this in the editor, which breaks the block
// gap for any containing block.
.editor-styles-wrapper .is-layout-constrained > * + .wp-block-query-pagination.block-editor-block-list__layout {
	margin-block-start: var( --wp--style--block-gap );
}

// Remove WP's hard-coded bottom and right margin on sub-blocks.
.wp-block-query-pagination > [class*=wp-block-query-pagination-] {
	margin: 0;
}

// No dimensions or inner blocks layout width support for the block yet.
.has-global-padding > .alignfull > .wp-block-query-pagination {
	box-sizing: content-box;
	padding-right: var( --wp--style--root--padding-right );
	padding-left: var( --wp--style--root--padding-left );
}
