////
/// Form mixin.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

///
/// Default label styles.
///
@mixin label() {
	background: var(--wp--custom--elements--label--color--background, transparent);
	color:      var(--wp--custom--elements--label--color--foreground, var(--wp--custom--color--foreground--subtle, inherit));

	font-family: var(--wp--custom--elements--label--typography--font-family, inherit);
	font-size:   var(--wp--custom--elements--label--typography--font-size, inherit);
	font-style:  var(--wp--custom--elements--label--typography--font-style, inherit);
	font-weight: var(--wp--custom--elements--label--typography--font-weight, inherit);

	&:has(
		+ :where(input:not([type=submit]):not([type=checkbox])),
		+ textarea,
		+ select
	) {
		display: block;
		margin-bottom: var(--wp--preset--spacing--10);
	}

	// When the label's input is focused, give it a focus color.
	&:has(
		+ input:focus,
		+ textarea:focus,
		+ select:focus,
		input:focus,
		textarea:focus,
		select:focus
	) {
		background: var(--wp--custom--elements--label--hover--color--background, transparent);
		color:      var(--wp--custom--elements--label--hover--color--foreground, var(--wp--custom--color--foreground--accent, inherit));

	}

	// When the label is next to or wraps a checkbox or radio, use a
	// different design set. Generally, you want this to read as normal text.
	input[type="checkbox"] + &,
	input[type="radio"] + &,
	&:has(
		input[type="checkbox"],
		input[type="radio"]
	) {
		color:       inherit;
		font-family: inherit;
		font-size:   inherit;
		font-style:  inherit;
		font-weight: inherit;
	}
}

///
/// Default placeholder styles.
///
@mixin placeholder() {
	color: var(--wp--custom--color--foreground--subtle, inherit);
}

///
/// Default input styles.
///
@mixin input() {
	appearance:  none;
	caret-color: var(--wp--custom--color--foreground--accent, inherit);

	&:focus {
		outline-color: var(--wp--custom--color--border--accent-1, currentColor);
	}
}

///
/// Default checkbox and radio styles.
///
@mixin checkable() {
	accent-color: var(--wp--custom--color--foreground--accent, inherit);

	padding: 0;
	border: none;
	box-shadow: none;

	&:focus {
		outline: none;
	}
}

///
/// Default select styles.
///
@mixin select() {
	cursor: pointer;
	padding-right: var(--wp--preset--spacing--70);

	// Recreate the arrow with a linear-gradient.
	// https://codepen.io/vkjgr/pen/VYMeXp
	background-image:
		linear-gradient(45deg, transparent 50%, currentColor 50%),
		linear-gradient(135deg, currentColor 50%, transparent 50%);
	background-position:
		calc(100% - 1.25em) center,
		calc(100% - 0.9375em) center;
	background-size: 0.3125em 0.3125em, 0.3125em 0.3125em;
	background-repeat: no-repeat;
}
