////
/// Progress block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-ideas
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// No fixes...

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Customization of the progress block.
///
.wp-block-x3p0-progress {
	--x3p0-progress--background-color: var(--wp--custom--color--background--level-1);
	--x3p0-progress--foreground-color: var(--wp--custom--color--background--accent);

	&__container {
		border:
			var(--wp--custom--border--global--width)
			var(--wp--custom--border--global--style)
			var(--wp--custom--color--border--bounds);
		border-radius: var(--wp--custom--border--global--radius);
		box-shadow: var(--wp--custom--shadow--global--default);
	}
}

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

// No variations...
